<div class="modal fade" id="ExemploModalCentralizado" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex flex-column align-items-center justify-content-center mt-5">
        <h5>Relatório</h5>
        <div class="mt-4">
          <div class="mb-3">
            <label class="mb-2 text-nowrap label-container">
              <input type="checkbox" id="excel">
              <span class="span-checkmark"></span>
              Exportar para Excel
            </label>
          </div>
          <div>
            <label class="mb-2 text-nowrap label-container">
              <input type="checkbox" id="pdf">
              <span class="span-checkmark"></span>
              Exportar para PDF
            </label>
          </div>
        </div>
        <div class="row justify-content-center align-items-center w-100 my-4">
          <button class="btn btn-primary px-5 mr-0 mr-lg-3 mb-3 mb-lg-0" (click)="viewPdf()" >Visualizar</button>
          <button class="btn btn-primary px-5 mr-0 mr-lg-3" (click)="downloadReport()" >Dowload</button>
          <button class="btn btn-primary px-5 mt-3 mt-lg-0" (click)="sendToEmail()">Enviar por e-mail</button>
        </div>
      </div>
    </div>
  </div>
</div>

<full-spinner></full-spinner>
