h5 {
  color: #07359B;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

label {
  text-align: left;
  color: #2C2C2C;
  font-weight: 600;
}

button {
  max-width: 238.77px;
  width: 100%;
}
