.title-employees {
  color: #07359B;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  font-weight: 600;
}

.input-employees {
  border: 0.5px solid #4D4D4D;
  border-radius: 30px;
  opacity: 1;
  width: 278px;
  height: 27px;
  padding-left: 30px;
  background: transparent url('../../../../../assets/images/icon_search.svg') 0% 0% no-repeat padding-box;
  background-repeat: no-repeat;
  background-position: 4% 50%;
  opacity: 1;
}

:focus {
  outline: none;
}

tr:nth-child(1) {
  background: #F8F8F8;
  color: #07359B;
  font-size: 14px;
}

tr {
  transition: .2s;
}

tr:nth-child(1n + 2) {
  border-bottom: 1px solid #DCDCDC;
  font-size: 15px;
  color: #707070;
  font-weight: normal;
}

tr:nth-child(1n + 2):hover {
  background: #E5ECFF;
  cursor: pointer;
}

tr img {
  transform: rotate(270deg);
}


@media(min-width: 992px) {
  table {
      display: table;
  }
}
