<header class="d-flex justify-content-between align-items-center p-3 px-lg-5 mb-4">
    <div>
        <p class="mb-0 font-600 font-size18px d-flex align-items-center" (click)="back()" *ngIf="source" style="cursor: pointer;">
            <span class="mr-1" style="transform: translateY(-2px);">
                <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
            </span> {{source}}
        </p>
        <img src="assets/images/rebox.png" alt="Rebox" routerLink="/" style="cursor: pointer;" *ngIf="!source">
    </div>
    <div class="d-lg-none" (click)="toggleMenu()">
        <img src="assets/images/open-menu.svg" alt="Menu" style="cursor: pointer;">
    </div>
    <ul class="d-none d-lg-flex align-items-center navbar-nav navbar-expand">
        <!-- <li class="pointer bg-white font-500">
            Conheça nossos planos
        </li> -->
        <!-- <li class="px-4 pointer bg-white font-500" routerLink="/companies/signin">
            Para prestadores
        </li> -->
        <li id="dropdownLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="pointer bg-white font-500" (click)="onClick()">
            <span>
                <img *ngIf="!userImg" src="assets/images/user.svg" class="img-user mr-3">
                <img *ngIf="userImg" [src]="userImg" class="img-user mr-3">
            </span>
            {{isLoggedIn ? name : 'Área do cliente'}}
            <span *ngIf="isLoggedIn">
              <img src="assets/images/arrow-down.svg" class="ml-3">
            </span>
        </li>
        <div *ngIf="isLoggedIn && role === 'user'" class="dropdown-menu" aria-labelledby="dropdownLogout">
          <a routerLink="/user/my-profile" class="dropdown-item">Meus dados</a>
          <a routerLink="/user/my-plan" class="dropdown-item">Meu plano</a>
          <a routerLink="/user/request-service" class="dropdown-item">Solicitar novo serviço</a>
          <a routerLink="/user/requests-history" class="dropdown-item">Histórico de solicitações</a>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a>
        </div>
        <div *ngIf="isLoggedIn && role === 'partner'" class="dropdown-menu" aria-labelledby="dropdownLogout">
          <a routerLink="/companies" class="dropdown-item">Painel de prestador</a>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a>
        </div>
        <div *ngIf="isLoggedIn && role === 'admin'" class="dropdown-menu" aria-labelledby="dropdownLogout">
          <a routerLink="/admin" class="dropdown-item">Painel de admin</a>
          <a class="dropdown-item" (click)="logout()" style="cursor: pointer;">Sair</a>
        </div>
    </ul>
</header>
