.title {
  color: #07359B;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

.type-service-title {
  font-weight: bold;
  color: #1A1A1A;
  font-size: 20px;
}

.bg-header {
  background: #F8F8F8;
  text-align: center;
  vertical-align: middle;
}

label {
  font: var(--unnamed-font-style-normal) normal bold 14px/18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

.form-control-edit {
  background: #FFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #4D4D4D;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: #000;
}
