<main class="w-100">
  <div class="row">
    <div class="col-lg-12 d-flex flex-column flex-lg-row">
      <div class="col-lg-5 shadow bg-white rounded p-4 mb-5 mb-lg-0">
        <h6 class="title">Nova solicitação de serviço</h6>
        <div class="mt-3 p-3">
          <h6 class="type-service-title">Tipo de serviço:</h6>
          <div class="row m-0">
            <div class="col-lg-12">
              <div *ngFor="let service of services" class="col-lg-2 mt-4">
                <label class="mb-4 text-nowrap label-container">
                  <input type="radio" id="tow" name="service" [value]="service.id" (change)="changeService($event)" checked>
                  <span class="span-radiomark ml-n1"></span>
                  {{ service.description }}
                </label>
                <!-- <label class="mb-4 text-nowrap label-container">
                  <input type="radio" id="tow" name="service" value="3" (change)="changeService($event)">
                  <span class="span-radiomark ml-n1"></span>
                  Chaveiro
                </label>
                <label class="mb-4 text-nowrap label-container">
                  <input type="radio" id="tow" name="service" value="5" (change)="changeService($event)">
                  <span class="span-radiomark ml-n1"></span>
                  Carro Reserva
                </label> -->
              </div>
            </div>
            <!-- <div class="col-lg-6 mt-4">
              <label class="mb-4 text-nowrap label-container">
                <input type="radio" id="changeOil" name="service" value="2" (change)="changeService($event)">
                <span class="span-radiomark ml-n1"></span>
                Troca de pneu
              </label>
              <label class="mb-4 text-nowrap label-container">
                <input type="radio" id="changeOil" name="service" value="4" (change)="changeService($event)">
                <span class="span-radiomark ml-n1"></span>
                Combustível
              </label>
              <label class="mb-4 text-nowrap label-container">
                <input type="radio" id="changeOil" name="service" value="6" (change)="changeService($event)">
                <span class="span-radiomark ml-n1"></span>
                Bateria
              </label>
            </div> -->
          </div>
          <div [formGroup]="serviceForm" class="row mt-4">
            <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2">
              <label for="name">Nome do Cliente:</label>
              <input type="text" name="name" class="form-control-edit" id="name" formControlName="name">
              <div *ngIf="serviceForm.get('name').touched && serviceForm.get('name').invalid">
                <span class="small text-danger">Nome é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2 mt-4">
              <label for="email">Email:</label>
              <input type="email" name="email" class="form-control-edit" id="email" formControlName="email">
              <div *ngIf="serviceForm.get('email').touched && serviceForm.get('email').invalid">
                <span class="small text-danger">Email é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-12 col-lg-12 d-flex flex-column mt-4 pl-2">
              <label for="origin" class="font-weight-bold">Origem:</label>
              <input type="text" #placesRef name="origin" id="originGps" formControlName="address"
              class="form-control location-bg font-500" ngx-google-places-autocomplete [options]='options'
              (onAddressChange)="setOrigin($event)" (keyup)="originFocus($event.target.value)">
              <div *ngIf="serviceForm.get('address').touched && serviceForm.get('address').invalid">
                <span class="small text-danger">Endereço é obrigatório.</span>
              </div>
            </div>
            <div *ngIf="isFuel" class="col-sm-12 col-lg-12 d-flex flex-column pl-2 mt-3">
              <label for="destiny">Destino:</label>
              <input type="text" #placesRef name="destiny" id="destinyGps" formControlName="destiny"
              class="form-control location-bg font-500" ngx-google-places-autocomplete [options]='options'
              (onAddressChange)="setDestiny($event)" (keyup)="destinyFocus($event.target.value)">
              <div *ngIf="serviceForm.get('destiny').touched && serviceForm.get('destiny').invalid">
                <span class="small text-danger">Destino é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row justify-content-center mt-5 w-100">
            <button class="btn btn-primary w-50" (click)="onSubmit()">Solicitar serviço</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<full-spinner></full-spinner>
