<main class="p-5 main">
  <section class="d-flex flex-column justify-content-center align-items-center">
    <h6 class="title">Obrigado! Agora é com a gente.</h6>
    <span *ngIf="methodId !== 'b'" class="plans-description my-3" style="text-align: center;">
      Tudo certo com a contratação do plano.
    </span>
    <span *ngIf="methodId === 'b'" class="plans-description my-3" style="text-align: center;">
      Tudo certo com a contratação do plano.<br> Enviaremos o <strong>1º boleto dentro de 2h</strong> para o seu e-mail.
    </span>
    <div class="plan-border col-lg-5 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded py-4">
      <div class="d-flex flex-column justify-content-center align-items-center border-bottom pb-4 w-100">
        <h4 class="plans-price"><strong>{{ planId === '1' ? 'R$ 19,90': 'R$ 34,90' }}</strong> /mês</h4>
        <h6 class="plans">{{ payment_method || 'Plano solicitado' }}</h6>
        <div class="d-flex flex-column px-5">
          <span *ngIf="methodId !== 'b'" class="plans-description my-3 legend-rebox">
            <em>Para quaisquer dúvida, nosso horário comercial é de 09h às 18h de segunda à sabádo.<br><strong>contato@rebox.com.br</strong></em>
          </span>
          <span *ngIf="methodId === 'b'" class="plans-description my-3 legend-rebox">
            <em>O prazo acima (de 2h) é considerando o horário comercial de 09h às 18h de segunda à sabádo.</em>
          </span>
        </div>
      </div>
      <div class="d-flex flex-column px-5">
        <span *ngIf="methodId !== 'b'" class="plans-description my-3">
          Mensalmente será cobrado automaticamente em seu cartão a parcela referente ao seu plano.
        </span>
        <span *ngIf="methodId === 'b'" class="plans-description my-3">
          Todo mês neste período, iremos encaminhar para o seu e-mail a próxima parcela por boleto.
        </span>
      </div>
    </div>
    <div class="col-lg-8 mt-4 box-bt">
      <button class="bt-view" (click)="linkHome()">Ir para tela inicial</button>
    </div>
  </section>
</main>

<full-spinner></full-spinner>