<section class="pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
      <h2 class="font-600 pb-2 pb-md-0">Serviços Solicitados</h2>
      <input type="search" placeholder="Buscar por nome, tipo ou data" (keyup)="findRequests($event.target.value)">
  </div>

  <div class="py-3">
      <table class="table table-responsive">
          <tr class="text-nowrap text-center">
              <th>Cliente</th>
              <th>Serviço</th>
              <th>Status</th>
              <th>Data/Horário</th>

              <th class="d-none d-md-block"></th>
          </tr>
          <tr *ngFor="let request of requests?.data | paginate: { itemsPerPage: requests?.perPage, currentPage: page, totalItems: requests?.total}" class="text-nowrap text-center" (click)="goToService(request?.id)">
              <td>{{ request?.use_plan.user.name }}</td>
              <td>{{ request?.use_plan.description}}</td>
              <td [ngClass]="{
                'bg-red': request.status === 'pendente',
                'bg-green': request.status === 'finalizado',
                'bg-yellow': request.status === 'andamento',
                'bg-blue': request.status === 'recusado'
            }">{{ request?.status | titlecase }}</td>
              <td>{{ request?.created_at | date: 'dd/MM/yyy - HH:mm': 'PDT' }}</td>

              <td class="position-absolute d-none d-md-block">
                <img src="assets/images/arrow-down.svg" class="arrow-right">
              </td>
          </tr>
          <tr>
              <td *ngIf="requests?.total === '0' && !isLoading" colspan="5">
                  Nenhum cliente encontrado
              </td>
          </tr>
          <tr *ngIf="isLoading">
              <td class="position-relative" colspan="6" style="height: 60px">
                  <full-spinner></full-spinner>
              </td>
          </tr>
      </table>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-end align-items-md-center">
      <div>
          <pagination-controls
              class="my-pagination"
              (pageChange)="changePage($event)"
              previousLabel="Anterior"
              nextLabel="Próxima">
          </pagination-controls>
      </div>

  </div>
</section>
