<main class="w-100 h-100">
  <div
  *ngIf="payments_plans.payment && payments_plans.payment.method_payment === 'boleto'"
  style="
    background-color: rgba(0, 0, 0, .1);
    padding: 15px 30px;
    margin: 0;
    border-radius: 4px;
    width: 100%;
  ">
    <span>Cliente do plano {{payments_plans.plan.id === 1 ? 'R$ 19,90': 'R$ 34,90'}} ({{payments_plans.payment.method_payment}}) {{payments_plans.payment.status_code === 'pendente' ? 'desabilitado' : 'habilitado' }} à solicitar serviços</span>
    <button
      style="
        border: none;
        background-color: #07359B;
        color: #fff;
        padding: 6px 20px;
        border-radius: 10px;
        margin-left: 20px;
        font-weight: bold;
        font-size: 14px;
      " 
      (click)="updateStatusCodePaymentPlan()"
    >
      {{payments_plans.payment.status_code === 'pendente' ? 'Habilitar' : 'Desabilitar' }}</button>
  </div>
  <div class="my-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="goBack()">
        <span class="mr-1" style="transform: translateY(-2px);">
            <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
        </span> Clientes
    </p>
  </div>
  <form [formGroup]="customerForm" class="mb-5">
    <div class="row">
      <div class="col-md-12 col-lg-6 shadow bg-white rounded p-4 h-75">
        <h6 class="title">Cliente</h6>
        <div class="mt-3 p-3">
          <div class="row">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="name">Nome:</label>
              <input type="text" name="name" class="form-control-edit" id="name" formControlName="name">
              <div *ngIf="customerForm.get('name').touched && customerForm.get('name').invalid">
                <span class="small text-danger">Nome é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cpf">CPF:</label>
              <input type="text" name="cpf" class="form-control-edit" id="cpf" mask="000.000.000-00"
                formControlName="cpf">
                <div *ngIf="customerForm.get('cpf').touched && customerForm.get('cpf').invalid">
                  <span class="small text-danger">CPF inválido.</span>
                </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control-edit" id="email" formControlName="email">
              <div *ngIf="customerForm.get('email').touched && customerForm.get('email').invalid">
                <span class="small text-danger">Email é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="phone">Celular:</label>
              <input type="text" class="form-control-edit" id="phone" mask="(00) 0 0000-0000" formControlName="cel">
              <div *ngIf="customerForm.get('cel').touched && customerForm.get('cel').invalid">
                <span class="small text-danger">Celular é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_zip_code">CEP:</label>
              <input type="text" name="address_zip_code" class="form-control-edit" id="address_zip_code" mask="00000-000" formControlName="address_zip_code" (blur)="setAddressByCep($event.target.value)">
              <div *ngIf="customerForm.get('address_zip_code').touched && customerForm.get('address_zip_code').invalid">
                <span class="small text-danger">CEP é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-md-0">
              <label for="address_street">Endereço:</label>
              <input type="text" name="address_street" class="form-control-edit" id="address_street" formControlName="address_street">
              <div *ngIf="customerForm.get('address_street').touched && customerForm.get('address_street').invalid">
                <span class="small text-danger">Endereço é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">

            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-md-0">
              <label for="address_neighborhood">Bairro:</label>
              <input type="text" class="form-control-edit" id="address_neighborhood" formControlName="address_neighborhood">
              <div *ngIf="customerForm.get('address_neighborhood').touched && customerForm.get('address_neighborhood').invalid">
                <span class="small text-danger">Bairro é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_state">Estado:</label>
              <select name="" id="" class="form-control-edit" (change)="onStateChange($event.target.value)" formControlName="state">
                <option selected disabled hidden>Selecione um estado</option>
                <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
              </select>
              <div *ngIf="customerForm.get('state').touched && customerForm.get('state').invalid">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_city">Cidade:</label>
              <select name="" id="" class="form-control-edit" formControlName="city" (change)="onCityChange($event.target.value)">
                <option selected disabled hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
              </select>
              <div *ngIf="customerForm.get('city').touched && customerForm.get('city').invalid">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="plan">Plano:</label>
              <input type="text" class="form-control-edit" id="plan" formControlName="plan" disabled>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-3">
        <div class="col-sm-12 col-lg-12 shadow bg-white p-4 mt-5 mt-lg-0 ml-lg-5 ">
          <h6 class="title text-center">Veículos</h6>
          <div class="d-flex flex-column px-1 mt-2">
            <div *ngFor="let vehicle of vehicles" class="row mt-2">
              <div class="col-sm-12 col-lg-12 d-flex justify-content-between align-items-center vehicle"
                style="cursor: pointer;" (click)="btnEditModal(vehicle)">
                <span>
                  Marca: {{ vehicle?.brand }} - Placa: {{vehicle.board}}
                </span>
                <img src="assets/images/edit.svg" alt="Edit" class="edit">
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12 col-lg-12 d-flex justify-content-between align-items-center vehicle"
                style="cursor: pointer;" (click)="btnModal()">
                <span>Adicionar veículo</span>
                <img src="assets/images/plus-square.svg" alt="Edit" class="edit">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white p-4 ml-lg-5 mt-5 mt-lg-5 mb-5 mb-lg-0">
          <h6 class="title text-center">Remover Cliente</h6>
          <button class="btn btn-danger mt-4 w-75" (click)="removeCustomer()">Remover</button>
        </div>
      </div>
      <div class="col-lg-12 mt-5">
        <button type="button" class="btn btn-primary col-lg-3 px-5" (click)="onSubmit()">Salvar</button>
        <button type="button"
          class="btn btn-danger col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0 px-5">Cancelar</button>
      </div>
    </div>
  </form>
</main>
<full-spinner></full-spinner>


<!--Modal-->
<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title title text-center">{{ isEdit? 'Editar Veículo': 'Adicionar Veículo' }}</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div [formGroup]="vehicleForm" class="modal-body">
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="model">Modelo do veículo:</label>
            <input type="text" class="form-control-edit" id="model" formControlName="model">
            <div *ngIf="vehicleForm.get('model').touched && vehicleForm.get('model').invalid">
              <p class="small text-danger">Modelo é obrigatório.</p>
            </div>
          </div>
        </div>
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="brand">Marca do veículo:</label>
            <input type="text" class="form-control-edit" id="brand" formControlName="brand">
            <div *ngIf="vehicleForm.get('brand').touched && vehicleForm.get('brand').invalid">
              <p class="small text-danger">Marca é obrigatória.</p>
            </div>
          </div>
        </div>
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="vehicle">Placa do veículo:</label>
            <input type="text" class="form-control-edit" mask="SSS-0A00"
              (keyup)="vehicleForm.controls.board.patchValue($event.target.value.toUpperCase())" id="board-vehicle"
              formControlName="board">
              <div *ngIf="vehicleForm.get('board').touched && vehicleForm.get('board').invalid">
                <p class="small text-danger">Placa é obrigatória.</p>
              </div>
          </div>
        </div>
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="motor">Motor:</label>
            <input type="text" class="form-control-edit" id="motor" formControlName="motor">
          </div>
        </div>
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="year">Ano:</label>
            <input type="text" class="form-control-edit" id="year" formControlName="year">
          </div>
        </div>
        <div class="row px-4 mt-3">
          <div class="col-sm-6 col-lg-12 d-flex flex-column">
            <label for="oil_changes">Nº de trocas de óleo:</label>
            <input type="text" class="form-control-edit" id="oil_changes" formControlName="oil_changes">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="updateVehicles()">Salvar</button>
      </div>
    </div>
  </div>
</div>

<!--End Modal-->
