<main class="w-100">
  <div class="col-lg-12 p-0 mt-5">
    <div class="col-lg-8">
      <div class="col-lg-12 shadow bg-white rounded px-5 py-4">
        <h2 class="pb-2 pb-md-0 title-reports">Relatórios</h2>
      </div>
      <div class="row  m-0 mt-5">
        <div class="col-lg-12 d-flex flex-column flex-lg-row">
          <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-items-center shadow bg-white rounded p-4" routerLink="financial-report" style="cursor: pointer;">
            <img src="assets/images/money.svg" class="pl-3" alt="">
            <h6 class="report px-3 pt-3">Financeiro</h6>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-6 d-flex align-items-center shadow bg-white rounded p-4 mt-4 mt-lg-0 ml-lg-3" routerLink="operational-report" style="cursor: pointer;">
            <img src="assets/images/report-truck.svg" class="pl-3" alt="">
            <h6 class="report px-3 pt-3">Operacional</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

