<div class="mt-5">
  <div *ngIf="!showForgotPassword" class="ml-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" routerLink="/">
      <span class="mr-1" style="transform: translateY(-2px);">
        <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> Home
    </p>
  </div>
  <div *ngIf="showForgotPassword" class="ml-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="showForgotPassword = !showForgotPassword">
      <span class="mr-1" style="transform: translateY(-2px);">
        <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> Login
    </p>
  </div>
</div>
<main class="d-flex justify-content-center px-3">

  <section>
    <app-image-header [showBackButton]="showBackButton" (showSigninEmit)="showSigninComponent()">
    </app-image-header>

    <div class="text-center mb-3">
      <h2 class="font-size21px font-700">
        {{showForgotPassword ? 'Esqueci minha senha' : 'Acesse sua conta'}}
      </h2>
    </div>

    <div class="d-flex  justify-content-between mb-3">
      <label for="company" class="label-container font-size15px" (change)="changeRole('company')">
        <input name="login" id="company" type="radio" checked>
        <span class="span-checkmark"></span>
        Sou Prestador
      </label>

      <label for="employee" class="label-container font-size15px" (change)="changeRole('employee')">
        <input name="login" id="employee" type="radio">
        <span class="span-checkmark"></span>
        Sou Atendente
      </label>
    </div>

    <app-signin-form [role]="role" (showForgotPassword)="showForgotPasswordComponent()" *ngIf="!showForgotPassword">
    </app-signin-form>

    <app-forgot-password [role]="role" *ngIf="showForgotPassword">
    </app-forgot-password>

    <div class="position-relative">
      <div class="d-flex flex-column align-items-center position-absolute pt-5 mt-5">
        <p style="cursor: pointer;" data-toggle="modal" data-target="#modalTerms">Termos e condições</p>
        <p style="cursor: pointer;" data-toggle="modal" data-target="#modalPolicies">Política e privacidade</p>
      </div>
    </div>

  </section>
</main>

<div class="modal fade" id="modalTerms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms-and-conditions></app-terms-and-conditions>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalPolicies" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</div>
