<main class="d-flex justify-content-center px-3 pb-4">
  <section class="px-4">
    <div>
      <p *ngIf="request.scheduling_date" class="text-center font-600">
        {{request.scheduling_date| date: 'dd/MM/yyyy'}} - {{request.scheduling_date | date: 'HH:mm'}}
      </p>
      <p *ngIf="!request.scheduling_date" class="text-center font-600">
        {{request.created_at | date: 'dd/MM/yyyy - HH:mm'}}
      </p>
      <p>
        <span class="font-700">
          Cliente:
        </span>
        {{request.vehicle.user.name}}
      </p>
      <p>
        <span class="font-700">
          Telefone:
        </span>
        {{request.vehicle.user.cel | mask: '(00) 0 0000-0000'}}
      </p>

      <hr>

    </div>

    <div>
      <p>
        <span class="font-700">
          Modelo:
        </span>
        {{request.vehicle.model}}
      </p>
      <p>
        <span class="font-700">
          Marca:
        </span>
        {{request.vehicle.brand}}
      </p>
      <p>
        <span class="font-700">
          Placa:
        </span>
        {{request.vehicle.board}}
      </p>
    </div>

    <div class="border mb-3">
      <p class="font-600 p-3 pb-2 mb-0">
        <span>
          <img src="assets/images/location.svg">
        </span> Origem:
      </p>
      <p class="px-3">
        {{request.from}}
      </p>

      <hr class="mx-3">

      <p class="font-600 px-3 pb-2 mb-0">
        <span>
          <img src="assets/images/compass.svg">
        </span> Destino:
      </p>
      <p class="px-3">
        {{request.to}}
      </p>
    </div>

    <div class="mb-3">
      <p>
        <span class="font-700">
          Distância:
        </span>
        {{request.distance}} km
      </p>
    </div>
    <div class="mb-3">
      <p *ngIf="request.payments[0].payment_method">
        <span class="font-700">
          Valor:
        </span>
        {{request.amount | currency: 'R$'}}
      </p>
    </div>

    <div class="mb-3">
      <p>
        <span class="font-700">
          Método de pagamento:
        </span>
        {{request?.payments[0].type_payment_mode | titlecase }}
      </p>
    </div>

    <div class="mb-3">
      <p>
        <span class="font-700">
          Pagamento:
        </span>
        {{request?.payments[0].payment_method | titlecase}}
      </p>
    </div>

    <div class="mb-3">
      <p *ngIf="request.payments[0].payment_method !== 'presencial'">
        <span class="font-700">
          Status do pagamento:
        </span>
        PAGO !
      </p>
    </div>

    <div class="mb-3">
      <p *ngIf="request.status === 'andamento'">
        <span class="font-700"> Previsão de chegada: </span>
        {{ request?.timeDescription }}
      </p>
    </div>

    <div class="px-4">
      <button class="font-600 btn btn-primary w-100 mb-3" data-toggle="modal" data-target="#confirm"
        *ngIf="request.status === 'pendente'">
        Aceitar
      </button>
      <button *ngIf="request.status === 'pendente'" class="font-600 text-white btn btn-status-pending w-100"
        (click)="rejectRequests()">
        Recusar
      </button>
      <button *ngIf="request.status == 'aceito'" class="btn text-white w-100"
        [ngClass]="{'btn-status-finished': request.status == 'aceito'}">
        Status: {{request.status}}
      </button>
      <button class="font-600 btn btn-primary w-100 mb-3" data-toggle="modal" data-target="#finish"
        *ngIf="request.status === 'andamento'">
        Finalizar
      </button>
    </div>
  </section>
</main>

<div class="modal fade" id="finish" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">
          Deseja finalizar este serviço ?
        </h5>
      </div>
      <div class="modal-footer justify-content-center p-4">
        <button class="btn btn-primary w-100" (click)="finishRebox()">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">
          Dados adicionais
        </h5>
      </div>
      <div class="modal-footer justify-content-center p-4">
        <div class="d-flex justify-content-center">
          <h6 class="font-600">Qual é a previsão de chegada?</h6>
        </div>
        <form [formGroup]="confimForm" (ngSubmit)="acceptRequests()">
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="forecast"
              placeholder="Previsão (hh:mm)" formControlName="forecast" mask="00:00">
          </div>
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="name_partner"
              placeholder="Nome do motorista" formControlName="name_partner">
          </div>
          <button class="btn btn-primary w-100" type="submit">
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<full-spinner></full-spinner>
