.title {
  font: var(--unnamed-font-style-normal) normal bold 24px var(--unnamed-font-family-montserrat);
  text-align: left;
  font: normal normal bold 24px Montserrat;
  letter-spacing: 1.68px;
  color: #07359B;
  text-transform: uppercase;
  opacity: 1;
}

.type-service-title {
  font-weight: bold;
  color: #1A1A1A;
  font-size: 20px;
}

.client-type {
  background-color: #07359B;
  color: #FAFAFA;
  font-weight: 600;
  text-align: center;
  border-radius: 10px;
}

label {
  font: var(--unnamed-font-style-normal) normal bold 14px/18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

.form-control-edit {
  background: #FFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #4D4D4D;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: #000;
}

.img {
  width: 140px;
  height: 140px;
  cursor: pointer;
}

:focus {
  outline: none;
}


.b-shadow {
  box-shadow: 0px 3px 8px #00000029;
  border-radius: 10px;
  /* transition: .2s; */
  background: #FFF;
}

section {
  width: 600px;
}

.pointer {
  cursor: pointer;
  transition: .3s;
}

.pointer:hover {
  background: #F1F1F1;
}


@media (max-width: 768.9px) {
  .row {
    margin: 0;
  }

  .title {
    font-size: 18px;
  }

  h6, h2 {
    font-size: 16px;;
  }
}
