<main class="d-flex justify-content-center px-3">
  <section class="w-100">

      <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
          <h2 class="pb-2 pb-md-0 title-request">Solicitações</h2>
          <!-- <input type="search" placeholder="Buscar por nome, e-mail ou CPF" (keyup)="findProfessionals($event.target.value)"> -->
      </div>

      <div class="py-3">
          <table class="table table-responsive">
              <tr class="text-nowrap text-center">
                  <th>Número</th>
                  <th>Status</th>
                  <th>Data/hora</th>
                  <th>Cliente</th>
                  <th>Telefone</th>
                  <th>Marca</th>
                  <th>Modelo</th>
                  <th>Placa</th>
                  <th>KM</th>
                  <th>Pagamento</th>
                  <th>Valor</th>
                  <th class="d-none d-md-block"></th>

              </tr>
              <tr *ngFor="let request of requests.data | paginate:
                  { itemsPerPage: 8, currentPage: page, totalItems: requests.total }"
                  class="text-nowrap text-center font-500 requests"
                  [ngClass]="{'requestAnimation': requestPendents.includes(request.id)}"
                  [routerLink]="request.id"
                  >
                  <td>{{request.id}}</td>
                  <td [ngClass]="{
                      'bg-red': request.status === 'pendente',
                      'bg-green': request.status === 'finalizado',
                      'bg-yellow': request.status === 'andamento',
                      'bg-blue': request.status === 'recusado'
                  }">
                      {{request.status | titlecase}}
                  </td>
                  <td *ngIf="!request.scheduling_date">{{request.created_at | date: 'dd/MM/yyyy - HH:mm'}}</td>
                  <td *ngIf="request.scheduling_date">{{request.scheduling_date| date: 'dd/MM/yyyy'}} - {{request.scheduling_date | date: 'HH:mm'}}</td>
                  <td>{{request.vehicle.user.name}}</td>
                  <td>{{request.vehicle.user.cel | mask: '(00) 00000-0000'}}</td>
                  <td>{{request.vehicle.brand}}</td>
                  <td>{{request.vehicle.model}}</td>
                  <td>{{request.vehicle.board}}</td>
                  <td>{{request.distance | number: '1.0-2'}}</td>
                  <td>{{request?.payments[0]?.payment_method | titlecase}}</td>
                  <td *ngIf="request?.payments[0]?.payment_method === 'presencial'">
                      {{request.amount | currency: 'R$'}}
                  </td>
                  <td *ngIf="request?.payments[0]?.payment_method !== 'presencial'">
                    {{request.amount | currency: 'R$'}} - {{'PAGO'}}
                  </td>
                  <td class="position-absolute d-none d-md-block">
                    <img src="assets/images/arrow-down.svg" class="arrow-right" alt="">
                  </td>
              </tr>
              <tr>
                  <td *ngIf="requests.total == 0" colspan="5">
                    Nenhuma solicitação encontrada.
                  </td>
              </tr>
          </table>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
          <div class="mb-3 mb-md-0">
              <p class="mb-0 font-500 font-size15px">
                  Total de solicitações: {{requests.total}}
              </p>
          </div>
          <pagination-controls
              class="my-pagination"
              (pageChange)="changePage($event)"
              previousLabel="Anterior"
              nextLabel="Próxima">
          </pagination-controls>
      </div>
  </section>
</main>

<audio
  *ngIf="requestPendents.length > 0"
  id="notificationAudio"
  src="assets/sounds/definite.mp3"
  type="audio/mpeg"
  loop
  autoplay>
</audio>

<full-spinner></full-spinner>
