<div class="my-5 mb-2">
  <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="goBack()">
      <span class="mr-1" style="transform: translateY(-2px);">
          <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> Serviços solicitados
  </p>
  </div>
<main class="d-flex justify-content-center px-3 pb-4">
  <section class="px-4">
    <div>
      <p class="text-center font-600">
        {{service?.created_at | date: 'dd/MM/yyyy - HH:mm': 'PDT'}}
      </p>
      <p>
        <span class="font-700">
          Cliente:
        </span>
        {{service?.use_plan.user.name}}
      </p>
      <p>
        <span class="font-700">
          Telefone:
        </span>
        {{service?.use_plan.user.cel | mask: '(00) 0 0000-0000'}}
      </p>

      <hr>

    </div>

    <div>
      <p>
        <span class="font-700">
         Tipo de serviço:
        </span>
        {{service?.use_plan.description}}
      </p>
    </div>

    <div class="border mb-3">
      <p class="font-600 p-3 pb-2 mb-0">
        <span>
          <img src="assets/images/location.svg">
        </span> Endereço:
      </p>
      <p class="px-3">
        {{service?.address}}
      </p>
    </div>

    <div class="mb-3">
      <p>
        <span class="font-700">
          Status:
        </span>
        {{service?.status | titlecase}}
      </p>
    </div>

    <div *ngIf="service?.partner" class="mb-3">
      <p>
        <span class="font-700">
          Prestador:
        </span>
        {{service.partner.name | titlecase}}
      </p>
    </div>
    <div class="px-4 mt-4">
      <button class="font-600 btn btn-primary w-100 mb-3" *ngIf="service?.status === 'pendente'" data-toggle="modal" data-target="#interfuse">
        Repassar
      </button>
    </div>
  </section>
</main>

<div class="modal fade" id="interfuse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">Repassar serviço </h5>
        <div class="mt-4">
          <div class="row mt-4 p-5">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="uf">UF:</label>
              <select name="" id="" class="form-control" (change)="onStateChange($event.target.value)">
                <option selected disabled hidden>Selecione um estado</option>
                <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
              </select>
              <!-- <div *ngIf="operationalForm.get('uf').touched && operationalForm.get('uf').invalid">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div> -->
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2 mt-3 mt-sm-0 mt-md-0 mt-lg-0">
              <label for="city">Cidade:</label>
              <select name="" id="" class="form-control" (change)="onCityChange($event.target.value)">
                <option selected disabled hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
              </select>
              <!-- <div *ngIf="operationalForm.get('city').touched && operationalForm.get('city').invalid">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div> -->
            </div>
          </div>
          <div class="row mt-4 px-5 pb-5">
            <div class="col-sm-12 col-lg-12 d-flex flex-column pl-2 mt-3 mt-sm-0 mt-md-0 mt-lg-0">
              <label for="partners">Prestadores:</label>
              <select name="partners" id="partners" class="form-control" (change)="setPartnerId($event.target.value)">
                <option selected disabled hidden>Selecione um prestador</option>
                <option *ngFor="let partner of partners" value={{partner.id}}>{{ partner.name }}</option>
              </select>
            </div>
          </div>
          <div class="row justify-content-center my-4">
            <button class="btn btn-primary w-75" (click)="onSubmit()" data-dismiss="modal">Repassar</button>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer justify-content-center p-4">
        <button class="btn btn-primary w-100" (click)="finishRebox()">
          Confirmar
        </button>
      </div> -->
    </div>
  </div>
</div>

<!--
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3">
      <div class="modal-body text-center pb-0">
        <h5 class="font-700">
          Dados adicionais
        </h5>
      </div>
      <div class="modal-footer justify-content-center p-4">
        <div class="d-flex justify-content-center">
          <h6 class="font-600">Qual é a previsão de chegada?</h6>
        </div>
        <form [formGroup]="confimForm" (ngSubmit)="acceptservice?s()">
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="forecast"
              placeholder="Previsão (hh:mm)" formControlName="forecast" mask="00:00">
          </div>
          <div class="form-group">
            <input type="text" class="form-control border-0 py-4 my-3 b-shadow" name="name_partner"
              placeholder="Nome do motorista" formControlName="name_partner">
          </div>
          <button class="btn btn-primary w-100" type="submit">
            Confirmar
          </button>
        </form>
      </div>
    </div>
  </div>
</div> -->

<full-spinner></full-spinner>
