main {
  min-height: calc(100vh - 98px);
  background-image: url('../../../../../assets/images/background.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

section {
  min-height: 650px;
}

.trackForm input {
  color: #303030;
  border: none;
  border-radius: 4px;

  width: 14.5vw;
  height: 90px;
  padding-left: 49px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 17px 35%;
  outline: none;
}

.locate {
  background-image: url("../../../../../assets/images/location.svg");
  border-radius: 10px 10px 0px 0px;
}

.destination {
  background-image: url('../../../../../assets/images/compass.svg');
  border-radius: 0px 0px 10px 10px;
}


.trackForm .form-group {
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 10px;
}

img.position-absolute {
  transform: translateX(-37px);
}

p:nth-child(1) {
  line-height: 1;
}

p:nth-child(2) {
  line-height: 1.4;
}

.b-shadow {
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 10px;
}

div.position-absolute {
  right: 0;
  bottom: 10px
}

#gps-origin-box {
  bottom: -2px;
  box-shadow: 0px 0px 10px 2px #ccc;
}

#gps-destiny-box {
  bottom: 18px;
  box-shadow: 0px 0px 10px 2px #ccc;
}

li.pointer:hover {
  color: #053AC1;
  transition: .5s;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}


element.style {
  display: flex;
}

.modal-text{
  padding: 2000px!important;
}

@media(min-width: 768px) {
  main {
    background-image: url('../../../../../assets/images/background-town.svg'), url('../../../../../assets/images/background-blue.svg');
    background-size: 55%, 100% auto;
    background-position: 52% 80%, bottom;
    background-repeat: no-repeat;
  }


}

@media(min-width: 992px) {
  main {
    background-position: 92% 0%, bottom;
  }

  section {
    width: 35%;
    min-height: unset;
  }

  div.bg-white {
    background: transparent !important;
    box-shadow: none !important;
  }

}

@media(max-width: 1620px) {

}
