<form [formGroup]="signinForm" (ngSubmit)="onSubmit()" class="px-4">
    <div class="form-group">
        <input
            *ngIf="role === 'company'"
            type="text"
            name="cnpj"
            placeholder="CNPJ"
            class="form-control user-bg py-2"
            formControlName="cnpj"
            mask="00.000.000/0000-00"
        >
    </div>

    <div class="form-group">
        <input
            *ngIf="role === 'user' || role ==='employee'"
            type="text"
            name="cpf"
            placeholder="CPF"
            class="form-control user-bg py-2"
            formControlName="cpf"
            mask="000.000.000-00"
        >
    </div>

    <div class="form-group">
        <input
            type="password"
            name="password"
            placeholder="Senha"
            class="form-control password-bg py-2"
            formControlName="password"
        >
        <div *ngIf="signinForm.controls.password.invalid && isSubmited" class="mt-2">
            <p class="text-danger text-center font-600 font-size12px">
                Necessário no mínimo 6 caracteres
            </p>
        </div>
    </div>

    <div class="form-group text-right">
        <p class="anchorLink font-500" style="cursor: pointer;" (click)="showForgotPassword.emit(true)">
            Esqueci minha senha
        </p>
    </div>

    <div class="d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary font-600 py-2 mb-3 w-75" (click)="onSubmit()">
            Entrar
        </button>
        <button
            *ngIf="role == 'company'"
            class="btn btn-secondary font-600 py-2 w-75"
            routerLink="/companies/signup">
            Cadastre-se
        </button>
    </div>
</form>

<full-spinner></full-spinner>
