<main class="w-100">
  <div class="my-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="goBack()">
        <span class="mr-1" style="transform: translateY(-2px);">
            <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
        </span> Prestadores
    </p>
    </div>
  <form [formGroup]="profileForm" class="mb-5">
    <div class="row">
      <div class="col-md-12 col-lg-5 shadow bg-white rounded p-4">
        <h6 class="title">{{ partnerId? 'Editar Prestador': 'Cadastrar Prestador' }}</h6>
        <label *ngIf="partnerId" for="uploadImg">
          <img *ngIf="!imgUrlForm" src="assets/images/insert-image.svg" alt="insertImage" class="mt-4" style="cursor: pointer;" class="rounded-circle img">
          <img *ngIf="imgUrlForm"  [src]="imgUrlForm" alt="" class="rounded-circle img">
        </label>
        <input type="file" name="uploadImg" id="uploadImg" (change)="sendImg($event)" hidden>
        <div class="mt-3 p-3">
          <div class="row">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="code">Código:</label>
              <input type="text" name="cod" class="form-control-edit" id="cod" formControlName="cod">
              <div *ngIf="profileForm.get('cod').touched && profileForm.get('cod').invalid">
                <span class="small text-danger">Código é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cnpj">CNPJ:</label>
              <input type="text" name="cnpj" class="form-control-edit" id="cnpj" mask="00.000.000/0000-00" formControlName="cnpj">
              <div *ngIf="profileForm.get('cnpj').touched && profileForm.get('cnpj').invalid">
                <span class="small text-danger">CNPJ inválido.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="company_name">Razão Social:</label>
              <input type="text" name="company_name" class="form-control-edit" id="company_name" formControlName="company_name">
              <div *ngIf="profileForm.get('company_name').touched && profileForm.get('company_name').invalid">
                <span class="small text-danger">Razão social é obrigatória.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="name">Nome:</label>
              <input type="text" name="name" class="form-control-edit" id="name" formControlName="name">
              <div *ngIf="profileForm.get('name').touched && profileForm.get('name').invalid">
                <span class="small text-danger">Nome é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="ie">I.E.:</label>
              <input type="text" name="ie" class="form-control-edit" id="ie" formControlName="ie">
              <div *ngIf="profileForm.get('ie').touched && profileForm.get('ie').invalid">
                <span class="small text-danger">I.E é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="im">I.M.:</label>
              <input type="text" name="im" class="form-control-edit" id="im" formControlName="im">
              <div *ngIf="profileForm.get('im').touched && profileForm.get('im').invalid">
                <span class="small text-danger">I.M é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="cep">CEP:</label>
              <input type="text" name="cep" mask="00000-000" class="form-control-edit" id="cep" formControlName="cep">
              <div *ngIf="profileForm.get('cep').touched && profileForm.get('cep').invalid">
                <span class="small text-danger">CEP é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address">Endereço:</label>
              <input type="text" name="address" class="form-control-edit" id="address" formControlName="address">
              <div *ngIf="profileForm.get('address').touched && profileForm.get('address').invalid">
                <span class="small text-danger">Endereço é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="number">Número:</label>
              <input type="text" name="number" class="form-control-edit" id="number" formControlName="number">
              <div *ngIf="profileForm.get('number').touched && profileForm.get('number').invalid">
                <span class="small text-danger">Número é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_neighborhood">Bairro:</label>
              <input type="text" class="form-control-edit" id="address_neighborhood"formControlName="neighborhood">
              <div *ngIf="profileForm.get('neighborhood').touched && profileForm.get('neighborhood').invalid">
                <span class="small text-danger">Bairro é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_state">UF:</label>
              <select name="" id="" class="form-control-edit" (change)="onStateChange($event.target.value)" formControlName="uf">
                <option selected disabled hidden>Selecione um estado</option>
                <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
              </select>
              <div *ngIf="profileForm.get('uf').touched && profileForm.get('uf').invalid">
                <span class="small text-danger">Estado é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="address_city">Cidade:</label>
              <select name="" id="" class="form-control-edit" formControlName="city" (change)="onCityChange($event.target.value)">
                <option selected disabled hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
              </select>
              <div *ngIf="profileForm.get('city').touched && profileForm.get('city').invalid">
                <span class="small text-danger">Cidade é obrigatória.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="site">Site:</label>
              <input type="text" class="form-control-edit" id="site" formControlName="site">
            </div>
            <div [formGroup]="userForm" class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="email">Email:</label>
              <input type="email" class="form-control-edit" id="email" formControlName="email">
              <div *ngIf="profileForm.get('email').touched && profileForm.get('email').invalid">
                <span class="small text-danger">E-mail é obrigatório.</span>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="phone">Celular:</label>
              <input type="text" class="form-control-edit" id="phone" mask="(00) 0 0000-0000" formControlName="contact1">
              <div *ngIf="profileForm.get('contact1').touched && profileForm.get('contact1').invalid">
                <span class="small text-danger">Celular é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="contact">Contato:</label>
              <input type="text" class="form-control-edit" id="contact" mask="(00) 0 0000-0000" formControlName="contact2">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="truck_number">Nº de caminhões:</label>
              <input type="number" class="form-control-edit" id="truck_number" formControlName="number_trucks">
              <div *ngIf="profileForm.get('number_trucks').touched && profileForm.get('number_trucks').invalid">
                <span class="small text-danger">Número de caminhões é obrigatório.</span>
              </div>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column pl-2">
              <label for="">Vigência do contrato:</label>
              <div class="row pl-3" style="vertical-align: middle;">
                <input type="date" class="form-control-edit col-lg-12" id="contract_of" formControlName="contract_of">
                <strong class="col-lg-6 px-sm-0 px-md-0 px-lg-3 py-2">a</strong>
                <input type="date" class="form-control-edit col-lg-12" id="contract_until" formControlName="contract_until">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-lg-6 d-flex flex-column h-50 p-0">
        <div class="col-sm-12 col-md-12 col-lg-7 d-flex flex-column align-items-center shadow bg-white rounded p-4 mt-2 ml-sm-0 ml-lg-5 h-50">
          <h6 class="title font-size12px mb-3">Tipo de Serviços</h6>
          <div class="row m-0">
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="1" value="1" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Reboque
            </label>

            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="oil_change" id="2" value="2" (change)="changeTypeService($event.target.value)">
              Chaveiro
              <span class="span-checkmark"></span>
            </label>

            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="3" value="3" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Socorro mecânico
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="4" value="4" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Troca de pneu
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="5" value="5" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Carga na bateria
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="6" value="6" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Carro reserva
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="7" value="7" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Pane seca
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="8" value="8" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Pane elétrica
            </label>
            <label class="col-sm-4 col-md-4 mb-3 label-container font-500">
              <input type="checkbox" name="town" id="9" value="9" (change)="changeTypeService($event.target.value)">
              <span class="span-checkmark"></span>
              Assistência funerária
            </label>
          </div>
          <div *ngIf="profileForm.get('types').invalid && isSubmitted">
            <span class="small text-danger">Tipos de serviço é obrigatório.</span>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-7 d-flex flex-column align-items-center shadow bg-white rounded p-4 mt-4 ml-sm-0 ml-lg-5 h-50">
          <h6 class="title font-size12px mb-3">{{ partnerId? 'Alterar Senha': 'Insira a Senha' }}</h6>
          <div class="row justify-content-center m-0 p-0 p-md-5 p-lg-5">
            <form [formGroup]="userForm" class="d-flex flex-column align-items-center justify-content-center w-100">
              <div class="col-sm-10 col-md-12 col-lg-10 d-flex flex-column  pl-2">
                <label for="password">Senha:</label>
                <input type="password" class="form-control-edit" id="password" formControlName="password" >
                <div *ngIf="userForm.get('password').invalid && isSubmitted">
                  <span class="small text-danger">No minímo 6 carácteres.</span>
                </div>
              </div>
              <div class="col-sm-10 col-md-12 col-lg-10 d-flex flex-column mt-2 pl-2">
                <label for="confirmPassword">Confirmar senha:</label>
                <input type="password" class="form-control-edit" id="confirmPassword" >
              </div>
              <div *ngIf="partnerId" class="col-sm-10 col-md-12 col-lg-10 d-flex flex-column mt-4 pl-2">
                <button class="btn btn-primary" (click)="changePassword()">Alterar senha</button>
              </div>
            </form>
          </div>
        </div>
        <div *ngIf="partnerId" class="col-sm-12 col-md-12 col-lg-7 d-flex flex-column align-items-center shadow bg-white rounded p-4 mt-4 ml-sm-0 ml-lg-5 h-50">
          <h6 class="title font-size12px mb-3">Remover prestador</h6>
          <div class="row justify-content-center m-0 p-0 p-md-5 p-lg-5">
           <button class="btn btn-danger mt-4" (click)="removePartner()">Remover prestador</button>
          </div>
        </div>
      </div>
      <div class="col-lg-5 shadow bg-white roundend mt-5 p-4">
        <h6 class="title">Dados Bancários</h6>
        <form formGroupName="bank_account">
          <div class="row mt-3">
            <div class="col-lg-6 d-flex flex-column">
              <label for="bank">Banco:</label>
              <input type="text" class="form-control-edit" mask="000" id="bank" formControlName="bank_number">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-lg-6 d-flex flex-column">
              <label for="agency">Agência:</label>
              <input type="text" class="form-control-edit" mask="0000" id="agency"formControlName="account_agency">
            </div>
            <div class="col-lg-6 d-flex flex-column mt-sm-3 mt-md-0 ml-lg-0">
              <label for="account_current">Conta Corrente:</label>
              <input type="text" class="form-control-edit" id="account_Current" formControlName="account_current">
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12 mt-4">
        <button type="button" class="btn btn-primary col-lg-3 px-5" (click)="onSubmit()">Salvar</button>
        <button type="button" class="btn btn-danger col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0 px-5">Cancelar</button>
      </div>
    </div>
  </form>
</main>
<full-spinner></full-spinner>
