<section class="pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
      <h2 class="font-600 pb-2 pb-md-0">Serviços</h2>
      <input type="search" placeholder="Buscar por nome, tipo ou data" (keyup)="findService($event.target.value)">
  </div>

  <div class="py-3">
      <table class="table table-responsive">
          <tr class="text-nowrap text-center">
              <th>Código</th>
              <th>Tipo de Serviço</th>
              <th>UF</th>
              <th>Cidade</th>
              <th class="d-none d-md-block"></th>
          </tr>
          <tr *ngFor="let service of services?.data | paginate: { itemsPerPage: services?.perPage, currentPage: page, totalItems: services?.total}; let index = index" class="text-nowrap text-center" (click)="goToEditPage(service?.state, service?.city)">
              <td>{{ index }}</td>
              <td>{{ 'Reboque avulso' }}</td>
              <td>{{ service?.state | uppercase }}</td>
              <td>{{ service?.city }}</td>
              <td class="position-absolute d-none d-md-block">
                <img src="assets/images/arrow-down.svg" class="arrow-right">
              </td>
          </tr>
          <tr>
              <td *ngIf="services?.total === '0' && !isLoading" colspan="5">
                  Nenhum Serviço encontrado
              </td>
          </tr>
          <tr *ngIf="isLoading">
              <td class="position-relative" colspan="6" style="height: 60px">
                  <full-spinner></full-spinner>
              </td>
          </tr>
      </table>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-center justify-content-md-between align-items-center">
    <div class="mb-3 mb-md-0 mb-lg-0">
      <button class="btn btn-primary px-5" routerLink="create">Cadastrar serviço</button>
    </div>
    <div>
          <pagination-controls
              class="my-pagination"
              (pageChange)="changePage($event)"
              previousLabel="Anterior"
              nextLabel="Próxima">
          </pagination-controls>
      </div>

  </div>
</section>
