.title-reports {
  color: #07359B;
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 600;
}

label {
  font: var(--unnamed-font-style-normal) normal bold 14px/18px var(--unnamed-font-family-montserrat);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal bold 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #1A1A1A;
  text-shadow: 0px 3px 20px #00000029;
  opacity: 1;
}

.form-control-edit {
  background: #FFF 0% 0% no-repeat padding-box;
  border: 0.30000001192092896px solid #4D4D4D;
  border-radius: 10px;
  padding: 5px;
  padding-left: 15px;
  color: #000;
}
:focus {
  outline: none;
}

.plan-title {
  font-weight: bold;
  color: #1A1A1A;
  font-size: 21px;
  /* background: #053AC1 0% 0% no-repeat padding-box;
  padding: 8px 38px;
  color: #FAFAFA;
  border-radius: 80px; */
}

.plan-sum, .plan-count {
  color: #1A1A1A;
  font-size: 17px;
  font-weight: 500;
}
