<app-header></app-header>

<main  class="d-flex justify-content-center px-3 pb-lg-4">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Seu reboque está a caminho
            </h2>
        </div>

        <div class="d-flex flex-column align-items-center btn-primary py-4 px-2 mb-4 radius10">
            <p class="font-700">Previsão de chegada:</p>
            <h3 class="font-600" *ngIf="reboxService?.forecast && !reboxService.is_present" >
              {{reboxService?.timeDescription}}
            </h3>
            <h3 class="font-600 text-center" *ngIf="!reboxService?.is_present && !reboxService?.forecast" >
              Aguardando reboque
            </h3>
            <h3 class="font-600 text-center" *ngIf="reboxService?.is_present" >
              Automóvel sendo rebocado
            </h3>
        </div>

        <hr>

        <div class="d-flex align-items-center px-3 my-4" *ngIf="reboxService?.forecast">
            <div class="pr-3">
                <img [src]="'assets/images/user.svg'">
            </div>

            <div>
                <p class="font-size12px font-500 mb-0">
                    Você será atendido pela empresa:
                </p>
                <h4 class="font-size18px font-600 mb-1">
                    {{reboxService?.partner?.company_name}}
                </h4>
                <a href="tel:{{reboxService?.partner?.contact1}}">
                  <img *ngIf="reboxService?.partner?.contact1" src="assets/images/whatsapp.svg" alt="contact" class="img-contact">
                  {{reboxService?.partner?.contact1 | mask: '(00) 0 0000-0000'}}
                </a>
                <div class="font-size18px font-600 mb-1">
                  Motorista: {{reboxService?.name_partner}}
                </div>
                <!-- <a href="tel:{{reboxService?.partner?.contact1}}">
                  <img src="assets/images/whatsapp.svg" alt="contact" class="img-contact">
                  {{reboxService?.partner?.contact1| mask: '(00) 0 0000-0000'}}
                </a> -->
            </div>
        </div>

        <div class="radius10 border p-3">
            <div>
                <p class="d-flex font-500 mb-3" id="location">
                    Onde seu veículo está?
                </p>
                <h5 class="font-size17px font-600">
                    {{reboxService?.from}}
                </h5>
            </div>

            <hr class="mx-2">

            <div>
                <p class="d-flex font-500 mb-3" id="compass">
                    Para onde quer levá-lo?
                </p>
                <h5 class="font-size17px font-600">
                  {{reboxService?.to}}
                </h5>
            </div>
        </div>

        <hr>

        <div class="d-flex flex-column align-items-center" *ngIf="!arrived && !reboxService?.is_present && reboxService?.partner_id">
            <h5 class="font-700 mb-3">
                Seu reboque chegou?
            </h5>
            <button class="btn btn-primary font-600 py-2 w-75" (click)="arrived = true; confirmPresent(reboxService.id)">
              Confirme aqui
            </button>
        </div>

        <div class="d-flex flex-column align-items-center" *ngIf="reboxService?.status == 'andamento' && reboxService.is_present == true">
            <h5 class="font-700 mb-3 text-center">
                Seu serviço foi finalizado ?
            </h5>
            <button class="btn btn-primary font-600 py-2 w-75" data-toggle="modal" data-target="#rating">
              Confirme aqui
            </button>
        </div>

    </section>
</main>

<div class="modal fade" id="rating" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content px-3 ">
      <div id="status"></div>
      <form id="ratingForm">
        <div class="row " style="justify-content: center;">
          <legend class="text-center px-4">Como foi seu reboque? Avalie aqui:</legend>
          <fieldset class="rating" >

              <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
              <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
              <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
              <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
              <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
          </fieldset>
          <div class="clearfix"></div>
        </div>
        <div class="row border-none"  style="justify-content: center;">
          <textarea name="comments" id="comments" cols="30" rows="5"></textarea>
        </div>
        <div class="row" style="    justify-content: center;">
          <!-- <button class="submit clearfix">Submit</button> -->
          <button class="btn btn-primary font-600 py-2 w-75 submit clearfix"  (click)="toEvaluate()">
            Enviar
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content px-3">
        <div class="modal-body text-center pb-0">
            <h5 class="font-700">
                Sua solicitação foi realizada com sucesso!
            </h5>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary font-600 w-100" data-dismiss="modal">
              Acompanhar
            </button>
        </div>
      </div>
    </div>
  </div>
