<main class="w-100">
  <div class="my-5 mb-2">
    <p class="mb-0 font-600 font-size18px d-flex align-items-center" style="cursor: pointer;" (click)="goBack()">
      <span class="mr-1" style="transform: translateY(-2px);">
        <img src="assets/images/left-arrow.svg" style="width: 15px; height: auto;">
      </span> Serviços
    </p>
  </div>
  <form class="d-flex flex-column flex-lg-row mb-5">
    <div class="col-lg-10">
      <div class="row">
        <div class="col-md-12 col-lg-10 shadow bg-white rounded p-4">
          <h6 class="title">{{ requestId? 'Editar Valores': 'Cadastrar Valores' }}</h6>
          <div class="d-flex flex-column flex-lg-row mt-4">
            <label class="mr-lg-5 text-nowrap label-container">
              <input type="radio" name="tow" id="tow" [value]="false" (change)="setTow($event.target.value)" checked>
              <span class="span-radiomark"></span>
              Reboque avulso
            </label>
            <label class="text-nowrap label-container">
              <input type="radio" name="tow" id="tow" [value]="true" (change)="setTow($event.target.value)">
              <span class="span-radiomark"></span>
              Serviços do Plano
            </label>
          </div>
          <div [formGroup]="location" class="row mt-3">
            <div class="col-sm-6 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="state">Estado:</label>
              <select class="form-control" (change)="onStateChange($event.target.value)" formControlName="state">
                <option value="" disabled selected hidden>Selecione um Estado</option>
                <option *ngFor="let state of states" [value]="state.sigla ">{{ state.nome }}</option>
              </select>
            </div>
            <div class="col-sm-6 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="city">Cidade:</label>
              <select class="form-control" (change)="onCityChange($event.target.value)" formControlName="city">
                <option value="" disabled selected hidden>Selecione uma cidade</option>
                <option *ngFor="let city of cities" [value]="city.nome">{{ city.nome }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!isTowByPlan" class="row mt-5">
        <div class="col-12 shadow bg-white rounded p-4">
          <h6 class="title">Valores Reboque avulso</h6>
          <form [formGroup]="portForm" class="mt-5 table table-responsive">
            <div class="row border bg-header pl-5">
              <div class="col-3 border pt-2">
                <h5 class="text-center">Reboque</h5>
              </div>
              <div class="col-2 border pt-2">
                <h5 class="text-center">até 10KM</h5>
              </div>
              <div class="col-2 border pt-2">
                <h5 class="text-center">de 10 até 20KM</h5>
              </div>
              <div class="col-2 border pt-2">
                <h5 class="text-center">de 20 até 40KM</h5>
              </div>
              <div class="col-2 border pt-2">
                <h5 class="text-center">Excedente</h5>
              </div>
            </div>
            <div class="row content">
              <div class="col-3 text-center">
                <div *ngFor="let car of carPorts" class="tow-port">
                  <span class="port">{{ car.port }}</span>
                </div>
              </div>
              <div class="col-8 pl-5">
                <div formArrayName="ports" class="row">
                  <div *ngFor="let port of ports.controls; let i = index;" [formGroupName]="i" class="col-12 p-0">
                    <div class="col-12 d-flex align-items-center price">
                      <div formArrayName="prices" class="col-9 d-flex price p-0">
                        <div *ngFor="let control of port.get('prices').controls; let index = index;" [formGroupName]="index"
                          class="col-4 d-flex">
                          <div class="d-flex flex-column">
                            <input currencyMask
                              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" type="text"
                              class="form-control my-2" formControlName="price">
                            <!-- <div *ngIf="control.touched && control.invalid">
                              <span class="small text-danger">Preço obrigatório.</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-3 p-0">
                        <div class="col-12 d-flex price">
                          <div class="d-flex flex-column">
                            <input currencyMask
                              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" type="text"
                              class="form-control my-2" formControlName="rebox_commission">
                            <!-- <div *ngIf="control.get('price').touched && control.get('price').invalid">
                              <span class="small text-danger">Preço obrigatório.</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="isTowByPlan" class="row box-by-plan mt-5">
        <div class="box-by-plan col-10 shadow bg-white rounded p-4">
          <h6 class="title">Valores Reboque do Plano</h6>
          <form [formGroup]="planForm" class="mt-5 table table-responsive">
            <div class="row border bg-header pl-5">
              <div class="box-by-plan col-3 border pt-2">
                <h5 class="text-center">Reboque</h5>
              </div>
              <div class="box-by-plan col-3 border pt-2">
                <h5 class="text-center">até 40KM</h5>
              </div>
              <div class="box-by-plan col-3 border pt-2">
                <h5 class="text-center">Excedente</h5>
              </div>
            </div>
            <div class="row content">
              <div class="box-by-plan col-3 pt-3 text-center pl-5">
                <div class="w-100 mt-2">
                  <span class="port text-center">Carro de passeio</span>
                </div>
              </div>
              <div class="box-by-plan col-9 pl-5">
                <div formArrayName="ports" class="row">
                  <div *ngFor="let portPlan of plansPort.controls; let i = index;" [formGroupName]="i" class="col-12 p-0">
                    <div class="col-12 d-flex align-items-center price">
                      <div formArrayName="prices" class="col-4 d-flex price p-0">
                        <div *ngFor="let control of portPlan.get('prices').controls; let index = index;" [formGroupName]="index" class="col-12 d-flex">
                          <div class="d-flex flex-column">
                            <input currencyMask
                              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" type="text"
                              class="form-control my-2" formControlName="price">
                            <!-- <div *ngIf="control.touched && control.invalid">
                              <span class="small text-danger">Preço obrigatório.</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-4 p-0">
                        <div class="col-12 d-flex price">
                          <div class="d-flex flex-column">
                            <input currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" type="text" class="form-control my-2" formControlName="rebox_commission">
                            <!-- <div *ngIf="control.get('price').touched && control.get('price').invalid">
                              <span class="small text-danger">Preço obrigatório.</span>
                            </div> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div *ngIf="!isTowByPlan" class="row mt-5">
        <div  class="col-md-12 col-lg-10 shadow bg-white rounded p-4">
          <h6 class="title">Taxa extra</h6>
          <div class="row mt-5">
            <div [formGroup]="isArmored" class="col-sm-12 col-lg-12 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="armoured_car">Carro blindado:</label>
              <input type="text" class="form-control-edit" id="armoured_car" formControlName="price" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
            </div>
          </div>
          <div class="row mt-3">
            <div [formGroup]="upset" class="col-sm-12 col-lg-12 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="overtunded_car">Carro capotado:</label>
              <input type="text" class="form-control-edit" id="overtunded_car" formControlName="price" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
            </div>
          </div>
          <div class="row mt-3">
            <div [formGroup]="stolenWheel" class="col-sm-12 col-lg-12 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="stolen_wheel">Carro com roda furtada:</label>
              <input type="text" class="form-control-edit" id="stolen_wheel" formControlName="price" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <div [formGroup]="lockedExchange" class="col-sm-12 col-lg-12 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Carro com câmbio travado:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" formControlName="price" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }">
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="isTowByPlan"  class="row mt-5">
        <div [formGroup]="planForm" class="col-md-12 col-lg-10 shadow bg-white rounded p-4 mt-5">
          <h6 class="title">Serviços</h6>
          <div formGroupName="services" class="row mt-3">
            <div formGroupName="funeral_assistance" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="funeral_assistance">Assistência funerária:</label>
              <input type="text" class="form-control-edit" id="funeral_assistance" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
            <div formGroupName="locksmith" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="overtunded_car">Chaveiro:</label>
              <input type="text" class="form-control-edit" id="overtunded_car" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
          </div>
          <div formGroupName="services" class="row mt-3">
            <div formGroupName="mechanical_help" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="stolen_wheel">Socorro Mecânico:</label>
              <input type="text" class="form-control-edit" id="stolen_wheel" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
            <div formGroupName="tire_change" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Troca de pneu:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
          </div>
          <div formGroupName="services" class="row mt-3 mb-3">
            <div formGroupName="battery_charge" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Carga na bateria:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>

            <div formGroupName="backup_car" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Carro reserva:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
          </div>
          <div formGroupName="services" class="row mt-3 mb-3">
            <div formGroupName="dry_break" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Pane seca:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
            <div formGroupName="eletrical_breakdown" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 mt-lg-0 pl-3">
              <label for="locked_exchange">Pane elétrica:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
            <div formGroupName="tow" class="col-sm-12 col-lg-6 d-flex flex-column mt-2 pl-3">
              <label for="locked_exchange">Reboque:</label>
              <input type="text" class="form-control-edit" id="locked_exchange" currencyMask
                [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', align: 'left' }" formControlName="cost">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div *ngIf="requestId" class="col-lg-3 mt-5 mt-lg-0 ml-lg-5">
      <div class="row">
        <div
          class="col-md-12 col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded p-4">
          <h6 class="title">Remover Serviço</h6>
          <button class="btn btn-danger w-75 mt-4" (click)="removeRequest()">Remover</button>
        </div>
      </div>
    </div> -->
    <div *ngIf="requestId" class="col-lg-3 mt-5 mt-lg-0 ml-lg-5">
      <div class="row">
        <div
          class="col-md-12 col-lg-12 d-flex flex-column justify-content-center align-items-center shadow bg-white rounded p-4">
          <h6 class="title">Remover Serviço</h6>
          <button class="btn btn-danger w-75 mt-4" (click)="removeRequest()">Remover</button>
        </div>
      </div>
    </div>
  </form>
  <div class="col-lg-12 my-4">
    <button type="button" class="btn btn-primary col-lg-3 px-5" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-danger col-lg-3 ml-sm-0 ml-md-0 ml-lg-4 mt-3 mt-md-3 mt-lg-0 px-5"
      routerLink="/admin/services">Cancelar</button>
  </div>
</main>
<full-spinner></full-spinner>
