<main class="w-100">
  <div class="row">
    <div class="col-lg-12 d-flex flex-column flex-lg-row">
      <div class="col-lg-5 shadow bg-white rounded p-4 mb-5 mb-lg-0">
        <h6 class="title">Nova Solicitação</h6>
        <div class="mt-3 p-3">
          <div class="row">
            <span *ngIf="planStatus === 'Ativo'" class="plan-status mb-5">Usuário ativo no plano. Foram feitas {{ planUtilizations }} {{ planUtilizations !== 1 ? 'utilizações' : 'utilização' }} no plano.</span>
            <span *ngIf="planStatus === 'Não Ativo'" class="plan-status mb-5">Usuário não possui um plano ativo.</span>
            <span *ngIf="notFound" class="bg-danger not-found mb-5">Usuário não possui cadastro.</span>
          </div>

          <div [formGroup]="userForm" class="row mt-3">
            <div class="col-lg-6 d-flex flex-column">
              <label for="name">Nome:</label>
              <input type="text" class="form-control-edit" formControlName="name">
            </div>
            <div class="col-lg-6 d-flex flex-column mt-3 mt-lg-0">
              <label for="email">Email:</label>
              <input type="email" class="form-control-edit" formControlName="email">
            </div>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-3">
          <div class="col-lg-8 d-flex justify-content-center">
            <button class="btn btn-secondary w-100" (click)="checkUserPlan()">Consultar cliente</button>
          </div>
          <div class="col-lg-8 d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary w-100" routerLink="request-tow">Solicitar reboque</button>
          </div>
          <div class="col-lg-8 d-flex justify-content-center align-items-center mt-3">
            <button class="btn btn-primary w-100" routerLink="new-request-service">Solicitar serviço do plano</button>
          </div>
        </div>
      </div>
      <div class="col-lg-6 shadow bg-white rounded p-4 mb-5 mb-lg-0 ml-lg-5">
        <h6 class="title">Histórico de solicitações</h6>
          <div class="col-lg-12 table-responsive">
            <table class="table table-sm table-bordered table-hover">
              <thead class="bg-header ">
                <tr>
                  <th>Serviço</th>
                  <th>Valor</th>
                  <th>Tipo</th>
                  <th>Data/Horário</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let request of requests">
                  <td>{{ request.description }}</td>
                  <td>{{ request.price | currency: 'BRL'}}</td>
                  <td>{{ request.type | titlecase }}</td>
                  <td>{{ request.created_at | date: 'dd/MM/yyyy - hh:MM': 'BRT' }}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</main>

<full-spinner></full-spinner>
