<section class="p-5">
  <div [formGroup]="additionalForm" class="d-flex flex-column justify-content-center align-items-center">
    <h6 class="title">Dados adicionais</h6>
    <span class="subtitle">Preencha as seguintes informações sobre o seu veículo para determinarmos o valor final do seu plano.</span>
    <div class="data-box d-flex flex-column mt-5">
      <input
        type="text"
        class="form-control wheel-bg mt-3"
        placeholder="Marca"
        formControlName="brand"
      >
      <div *ngIf="additionalForm.get('brand').touched && additionalForm.get('brand').invalid">
        <span class="small text-danger">Marca obrigatória.</span>
      </div>
      <input
        type="text"
        class="form-control wheel-bg mt-3"
        placeholder="Modelo"
        formControlName="model"
      >
      <div *ngIf="additionalForm.get('model').touched && additionalForm.get('model').invalid">
        <span class="small text-danger">Modelo obrigatório.</span>
      </div>
      <input
        type="text"
        class="form-control speedometer-bg mt-3"
        placeholder="Motor"
        formControlName="motor"
      >
      <div *ngIf="additionalForm.get('motor').touched && additionalForm.get('motor').invalid">
        <span class="small text-danger">Motor obrigatório.</span>
      </div>
      <input
        type="text"
        class="form-control number-bg mt-3"
        placeholder="Placa"
        formControlName="board"
        mask="SSS-0A00"
        (keyup)="additionalForm.get('board').patchValue($event.target.value.toUpperCase())"
      >
      <div *ngIf="additionalForm.get('board').touched && additionalForm.get('board').invalid">
        <span class="small text-danger">Placa obrigatória.</span>
      </div>
      <input
        type="text"
        class="form-control calendar-bg mt-3"
        placeholder="Ano"
        formControlName="year"
      >
      <div *ngIf="additionalForm.get('year').touched && additionalForm.get('year').invalid">
        <span class="small text-danger">Ano obrigatório.</span>
      </div>
      <input
        type="number"
        min="0"
        max="12"
        #oil_changes
        class="form-control fuel-bg mt-3"
        placeholder="Nº de trocas de óleo ao ano"
        formControlName="oil_changes"
        (keyup)="checkOilChanges(oil_changes.value)"
      >
      <div *ngIf="additionalForm.get('oil_changes').touched && additionalForm.get('oil_changes').invalid">
        <span class="small text-danger">N de troca de óleos obrigatório.</span>
      </div>
      <span class="small text-center mt-3">Você pode adicionar até 12 trocas ao seu plano.</span>
      <div class="d-flex justify-content-center mt-4">
        <button class="btn btn-primary px-5" (click)="openModal()">Continuar</button>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="modalExemplo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header border-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body px-4">
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/wheel.svg" alt="" class="mr-2">
            Marca
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('brand').value }}</strong>
        </div>
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/wheel.svg" alt="" class="mr-2">
            Modelo
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('model').value }}</strong>
        </div>
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/car.svg" alt="" class="mr-2">
            Motor
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('motor').value }}</strong>
        </div>
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/number.svg" alt="" class="mr-2">
            Placa
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('board').value }}</strong>
        </div>
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/calendar.svg" alt="" class="mr-2">
            Ano
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('year').value }}</strong>
        </div>
        <div class="d-flex flex-column border-bottom pb-3 mt-3">
          <span class="detail-info">
            <img src="assets/images/fuel.svg" alt="" class="mr-2">
            Nº de trocas de óleo ao ano
          </span>
          <strong class="ml-2 mt-3">{{ additionalForm.get('oil_changes').value }}</strong>
        </div>
        <div class="plan-box d-flex flex-column justify-content-center align-items-center mt-4 py-3">
          <h6>{{ plan === '1' ? 'Plano Rebox' : 'Plano Rebox+' }}</h6>
          <span class="plan-price">12X <strong>{{ plan === '1' ? '17,90' : '30,90' }}</strong></span>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center mt-4">
          <button class="btn btn-primary px-5"  data-dismiss="modal" (click)="nextPage()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
