.title {
  color: #1A1A1A;
  font-size: 32px;
  font-weight: bold;
}

.subtitle {
  color: #1A1A1A;
  font-size: 20px;
  max-width: 548px;
  width: 100%;
  text-align: center;
}

.data-box {
  max-width: 580px;
  width: 100%;
}

.detail-info {
  color: #1A1A1A;
  font-size: 16px!important;
}

.plan-box {
  box-shadow: 0px 3px 20px #00000029;
  border: 1px solid #07359B;
  border-radius: 10px;
}

.plan-box h6 {
  color: #07359B;
  font-weight: 600;
}

.plan-price {
  font-size: 38px;
  font-weight: 600;
  color: #07359B;
}

.plan-price strong {
  font-size: 58px;
  font-weight: 600;
}
