<pre class="px-4" style="white-space: pre-line; font-family: unset;">
    <b>TERMOS E CONDIÇÕES DE USO</b>

    <b>Última atualização:</b> 26 de setembro de 2020.
    
    Esses termos regerão o relacionamento entre o usuário e a Rebox. Leia com atenção as informações aqui apresentadas antes de acessar ou usar os serviços.
    
    <b>1. OBJETO E RELACIONAMENTO CONTRATUAL</b>
    Estes Termos e condições de uso, denominados como “Termos” daqui por diante, regem seu acesso e uso, dentro do território brasileiro, de aplicativos, sistemas, sites de Internet, conteúdos, bens e também serviços (denominados daqui por diante como “Serviços”) disponibilizados pela Rebox Soluções Integradas Ltda., pessoa jurídica de direito privado, inscrita no Cadastro Nacional de Pessoas Jurídicas do Ministério da Fazenda sob o nº 37.667.543/0001-77 (daqui por diante denominada “Rebox”) ou qualquer de suas eventuais subsidiárias, franquias autorizadas, afiliadas, parceiros ou prestadores/fornecedores de serviços terceirizados.
    Ao acessar e usar os Serviços através de qualquer meio pelo qual este for disponibilizado, você concorda com os presentes Termos. Se você não concordar com qualquer dos pontos aqui apresentados, você não poderá acessar nem usar os Serviços. A Rebox poderá imediatamente encerrar estes Termos ou quaisquer Serviços em relação a você ou, de modo geral, deixar de oferecer ou negar acesso aos Serviços ou a qualquer parte deles, a qualquer momento e por qualquer motivo.
    Na ocorrência de eventos, atividades, promoções particulares ou outras eventualidades, Termos adicionais poderão ser aplicados e serão divulgados em relação aos respectivos serviços e/ou eventos. Estes eventuais termos adicionais serão considerados complementares e parte integrante destes Termos para os efeitos dos respectivos Serviços e prevalecerão sobre estes Termos em caso de conflito.
    Estes Termos poderão ser alterados pela Rebox a qualquer tempo. Os aditamentos entrarão em vigor no momento da postagem da versão atualizada neste local e a sua anuência e consentimento em se vincular com os novos Termos serão tomados pelo ato de continuar a acessar ou usar os Serviços após essa postagem.
    A Rebox e qualquer de suas eventuais subsidiárias, franquias autorizadas, afiliadas, parceiros ou prestadores/fornecedores de serviços terceirizados poderão fornecer a uma gerenciadora de reclamações ou seguradoras qualquer informação necessária (inclusive suas informações de contato) se houver qualquer reclamação, litígio ou conflito, o que pode incluir incidentes envolvendo você ou Prestadores Terceiros (inclusive um(a) motorista de uma rede de empresas de assistência 24h (que oferecem serviços de guincho, reboque, remoção, incluindo também troca de pneu, auxílio por falta de combustível e carga na bateria), de serviços mecânicos ou  de rede credenciada de descontos, se essas informações ou dados forem necessários para solucionar a reclamação, litígio ou conflito.
    <b>1.1. LICENÇA.</b>
    A Rebox outorga a você uma licença limitada, não exclusiva, não passível de sublicença, revogável e não transferível, pessoal e não comercial (salvo em acordo diverso entre você e a Rebox),  contanto que respeitado todo o conteúdo presente nestes Termos, para: (i) acesso e uso dos Aplicativos, sistemas ou sites em seu dispositivo pessoal, exclusivamente para o seu uso dos Serviços; e (ii) acesso e uso de qualquer conteúdo, informação e material correlato que possa ser disponibilizado por meio dos Serviços, em cada caso, para seu uso pessoal, nunca comercial. Quaisquer direitos não expressamente outorgados por estes Termos são reservados à Rebox e suas eventuais subsidiárias, franquias autorizadas, afiliadas, parceiros ou prestadores/fornecedores de serviços terceirizados.
    <b>1.2. RESTRIÇÕES DE LICENÇA.</b>
    Você não poderá: (i) remover qualquer aviso de direito autoral, direito de marca ou outro aviso de direito de propriedade de qualquer parte dos Serviços; (ii) reproduzir, modificar, preparar obras derivadas, distribuir, licenciar, locar, vender, revender, transferir, exibir, veicular, transmitir ou, de qualquer outro modo, explorar os Serviços, exceto da forma expressamente permitida pela Rebox; (iii) decompilar, realizar engenharia reversa ou desmontar os Serviços, exceto conforme permitido pela legislação aplicável; (iv) conectar, espelhar ou recortar qualquer parte dos Serviços; (v) fazer ou lançar quaisquer programas ou scripts com a finalidade de fazer scraping, indexação, pesquisa ou qualquer outra forma de obtenção de dados de qualquer parte dos Serviços, ou de sobrecarregar ou prejudicar indevidamente a operação e/ou funcionalidade de qualquer aspecto dos Serviços; ou (vi) tentar obter acesso não autorizado aos Serviços ou prejudicar qualquer aspecto dos Serviços ou seus sistemas ou redes correlatas.
    
    <b>2. OS SERVIÇOS</b>
    Os Serviços integram uma plataforma de tecnologia que permite aos(às) Usuários(as) de aplicativos móveis ou sítios de Internet da Rebox, fornecidos como parte dos Serviços (cada qual um “Aplicativo”), localizar, solicitar e programar serviços de assistência 24 horas (para problemas automotivos de acordo com os planos oferecidos, incluindo troca de pneu, auxílio por falta de combustível, carga na bateria, guincho, reboque, remoção ou serviços de assistência diversos oferecidos nos planos), serviços mecânicos e rede credenciada de descontos (de acordo com as divulgações dos Serviços nos sites da Rebox). 
    VOCÊ RECONHECE QUE A REBOX NÃO É FORNECEDORA DE BENS, NÃO PRESTA SERVIÇOS DE ASSISTÊNCIA 24 HORAS (PARA PROBLEMAS AUTOMOTIVOS DE ACORDO COM OS PLANOS OFERECIDOS, INCLUINDO TROCA DE PNEU, AUXÍLIO POR FALTA DE COMBUSTÍVEL, CARGA NA BATERIA, GUINCHO, REBOQUE, REMOÇÃO OU SERVIÇOS DE ASSISTÊNCIA DIVERSOS OFERECIDOS NOS PLANOS), NEM DE SERVIÇOS MECÂNICOS OU REDE CREDENCIADA DE DESCONTOS, NEM FUNCIONA COMO TRANSPORTADORA, E QUE TODOS ESSES SERVIÇOS SÃO PRESTADOS POR PRESTADORES TERCEIROS INDEPENDENTES QUE NÃO SÃO EMPREGADOS(AS) E NEM REPRESENTANTES DA REBOX OU DE NENHUMA DE SUAS SUBSIDIÁRIAS EVENTUAIS, FRANQUIAS, AFILIADAS, PARCEIROS OU PRESTADORES/FORNECEDORES TERCEIRIZADOS.
    <b>2.1. PRESTAÇÃO DOS SERVIÇOS E CONTEÚDO DE TERCEIROS (AS)</b>
    Você reconhece que os Serviços podem ser disponibilizados sob diferentes marcas da Rebox, subsidiárias eventuais, franquias, afiliadas, parceiros ou prestadores/fornecedores terceirizados, e poderão ser disponibilizados e acessados em conexão com Serviços e conteúdo de terceiros(as) (inclusive publicidade) que a Rebox não controlará. 
    VOCÊ RECONHECE QUE TERMOS DE USO E POLÍTICAS DE PRIVACIDADE DIFERENTES PODERÃO SER APLICÁVEIS AO USO DESSES SERVIÇOS E CONTEÚDO DE TERCEIROS(AS). A REBOX NÃO ENDOSSA ESSES SERVIÇOS E CONTEÚDO DE TERCEIROS(AS) E A REBOX NÃO SERÁ, EM HIPÓTESE ALGUMA, RESPONSÁVEL POR NENHUM PRODUTO OU SERVIÇO DESSES(AS) TERCEIROS(AS) FORNECEDORES(AS). Além disto, Apple Inc., Google, Inc. ou Microsoft Corporation e/ou suas subsidiárias e afiliadas internacionais poderão ser terceiros(as) beneficiários(as) deste Contrato, caso você acesse os Serviços usando aplicativos desenvolvidos para dispositivos móveis baseados em Apple iOS, Android ou Microsoft Windows, respectivamente. Esses(as) terceiros(as) beneficiários(as) não são partes deste Contrato e não são responsáveis pela prestação dos Serviços ou por qualquer forma de suporte aos Serviços. Seu acesso aos Serviços usando esses dispositivos está sujeito às condições estabelecidas nos termos de serviços dos respectivos terceiros(as) beneficiários(as).
    <b>2.2. TITULARIDADE.</b>
    Os Serviços e todos os direitos sobre eles são e permanecerão de propriedade da Rebox ou de suas subsidiárias eventuais, franquias, afiliados, parceiros ou prestadores/fornecedores terceirizados, ou de suas respectivas licenciadoras, conforme o caso. Estes Termos e o uso dos Serviços não lhe outorgam nem lhe conferem qualquer direito: (i) sobre os Serviços, exceto pela licença limitada concedida acima; ou (ii) de usar ou, de qualquer modo, fazer referência a nomes societários, logotipos, nomes de produtos ou de Serviços, marcas comerciais ou marcas de serviço da Rebox ou de qualquer licenciadora da Rebox.
    
    <b>3. O USO DOS SERVIÇOS</b>
    <b>3.1. CONTAS DE USUÁRIOS.</b>
    Para utilização dos Serviços, você deve realizar um registro e manter uma conta pessoal de usuário de Serviços (“Conta”). Você deve ter pelo menos 18 anos ou a maioridade exigida por lei em seu foro (se for diferente de 18 anos) para abrir uma Conta. Registro de Conta exige que você apresente à Rebox certas informações pessoais, tais como seu nome, endereço, número de telefone celular e idade, assim como pelo menos um método de pagamento válido (cartão de crédito ou parceiro de pagamento aceito). Essas informações não serão repassadas a nenhum terceiro, exceto se diretamente necessário para a prestação dos Serviços objeto destes Termos. Você concorda em manter informações corretas, completas e atualizadas em sua Conta. Se você não mantiver informações corretas, completas e atualizadas em sua Conta, inclusive se o método de pagamento informado for inválido ou expirado, você poderá ficar impossibilitado(a) de acessar e usar os Serviços ou a Rebox poderá resolver estes Termos. Você é responsável por todas as atividades realizadas na sua Conta e concorda em manter sempre a segurança e o sigilo do nome de usuário e senha da sua Conta. A menos que diversamente permitido pela Rebox por escrito, você poderá manter apenas uma Conta.
    <b>3.2. CONDUTA E OBRIGAÇÕES DO USUÁRIO.</b>
    O Serviço não está disponível para uso por indivíduos menores de 18 anos. Você não poderá autorizar terceiros(as) a usar sua Conta, você não poderá permitir que pessoas menores de 18 anos recebam serviços de assistência 24 horas (para problemas automotivos de acordo com os planos oferecidos, incluindo troca de pneu, auxílio por falta de combustível, carga na bateria, guincho, reboque, remoção ou serviços de assistência diversos oferecidos nos planos), serviços mecânicos ou acessem a rede credenciada de descontos, salvo se estiverem em companhia de responsáveis legais. Você não poderá ceder, nem de qualquer outro modo transferir, sua Conta a nenhuma outra pessoa ou entidade. Você concorda em cumprir todas as leis aplicáveis quando usar os Serviços e que somente poderá usar os Serviços para finalidades legítimas (por ex. não transportar materiais ilegais ou perigosos). Você não poderá, quando usar os Serviços, causar transtorno, aborrecimento, inconveniente ou danos à propriedade dos Prestadores Terceiros ou de qualquer outro terceiro. Em determinadas situações, você poderá ser solicitado(a) a fornecer comprovante de identidade para acessar ou usar os Serviços, e concorda que poderá ter seu acesso ou uso dos Serviços negado caso você se recuse a fornecer comprovante de identidade.
    <b>3.3 MENSAGEM DE TEXTO.</b>
    Ao criar uma Conta, você concorda que os Serviços poderão lhe enviar mensagens de textos informativas (SMS) ou e-mails como parte das operações comerciais regulares para o uso dos Serviços. Você poderá optar por não receber mensagens de texto (SMS) da Rebox a qualquer momento enviando e-mail para suporte@rebox.com.br e indicando que não mais deseja receber essas mensagens, juntamente com o número do telefone celular que as recebe. Você reconhece que ao optar por não receber as mensagens de texto poderá impactar o uso dos Serviços.
    <b>3.4. CÓDIGOS PROMOCIONAIS.</b>
    A Rebox poderá, a seu exclusivo critério, criar códigos promocionais que poderão ser resgatados para crédito na Conta ou outras características ou benefícios relacionados aos Serviços e/ou a Serviços de Prestadores Terceiros, sujeitos a quaisquer condições adicionais que a Rebox estabelecer para cada um dos códigos promocionais (“Códigos Promocionais”). Você concorda que Códigos Promocionais: (i) devem ser usados de forma legal para a finalidade e o público a que se destinam; (ii) não devem ser duplicados, de qualquer forma vendidos, transferidos ou disponibilizados ao público em geral (seja por meio de postagem ao público ou qualquer outro método), a menos que expressamente permitido pela Rebox; (iii) poderão ser desabilitados pela Rebox a qualquer momento por motivos legais, sem que disto resulte qualquer responsabilidade para a Rebox; (iv) somente poderão ser usados de acordo com as condições específicas que a Rebox estabelecer para esses Código Promocional; (v) não são válidos como dinheiro; e (vi) poderão expirar antes de serem usados. A Rebox se reserva o direito de reter ou deduzir créditos ou outras funcionalidades ou vantagens obtidas por meio do uso dos Códigos Promocionais por você ou por outro usuário, caso a Rebox apure ou acredite que o uso ou resgate do Código Promocional foi feito com erro, fraude, ilegalidade ou violação às condições do respectivo Código Promocional.
    <b>3.5. CONTEÚDO FORNECIDO PELO(A) USUÁRIO(A).</b>
    Você declara e garante que: (i) é o(a) único(a) e exclusivo(a) proprietário(a) de todo Conteúdo de Usuário(a) ou tem todos os direitos, licenças, consentimentos e liberações necessários para outorgar à Rebox a licença sobre o Conteúdo de Usuário(a) acima referido; e (ii) nem o Conteúdo de Usuário(a) nem sua apresentação, carregamento, publicação ou outra forma de disponibilização desse Conteúdo de Usuário(a) tampouco o uso do Conteúdo de Usuário(a) pela Rebox da forma aqui permitida infringirá, constituirá apropriação indevida nem violará propriedade intelectual ou direito de propriedade de terceiros(a), nem direitos de publicidade ou privacidade e também não resultarão na violação de qualquer lei ou regulamento aplicável.
    Você concorda em não fornecer Conteúdo de Usuário(a) que seja difamatório, calunioso, injurioso, violento, obsceno, pornográfico, ilegal ou de qualquer modo ofensivo, conforme apuração da Rebox a seu critério exclusivo, seja ou não esse material protegido por lei. A Rebox poderá, mas não está obrigada a, analisar, monitorar ou remover Conteúdo de Usuário(a), a critério exclusivo da Rebox, a qualquer momento e por qualquer motivo, sem nenhum aviso a você.
    <b>3.6. ACESSO À REDE E EQUIPAMENTOS.</b>
    Você é responsável por obter o acesso a rede de dados necessário para usar os Serviços. As taxas e encargos de sua rede de dados e mensagens poderão se aplicar se você acessar ou usar os Serviços de um dispositivo sem fio e você será responsável por essas taxas e encargos. Você é responsável por adquirir e atualizar os equipamentos e dispositivos necessários para acessar e usar os Serviços e Aplicativos e quaisquer de suas atualizações. A REBOX NÃO GARANTE QUE OS SERVIÇOS, OU QUALQUER PARTE DELES, FUNCIONARÃO EM QUALQUER EQUIPAMENTO OU DISPOSITIVO EM PARTICULAR. Além disso, os Serviços poderão estar sujeitos a mau funcionamento e atrasos inerentes ao uso da Internet e de comunicações eletrônicas.
    
    <b>4. PAGAMENTO</b>
    Você entende que os serviços ou bens que você receber de um Prestador Terceiro, contratados por meio dos Serviços, poderão ser cobrados (“Preço”). Após você ter recebido serviços ou bens obtidos por meio do uso do Serviço, a Rebox facilitará o pagamento do respectivo preço em nome do Prestador Terceiro na qualidade de agente limitado de cobrança e intermediador desse Prestador Terceiro. O pagamento do Preço feito dessa maneira será considerado pagamento feito diretamente por você ao Prestador Terceiro. O preço incluirá todos os tributos exigidos por lei. 
    O preço pago por você é final e não reembolsável, a menos que diversamente determinado pela Rebox. Na máxima extensão permitida pela lei aplicável, a Rebox reserva o direito de limitar os Preços cobrados em espécie. Uma vez limitado o valor a ser pago em espécie, você deverá disponibilizar um método alternativo de pagamento.
    O preço total é devido e deve ser pago imediatamente após a solicitação do serviço pelos meios disponibilizados (aplicações ou sites de internet). O pagamento será facilitado pela Rebox mediante o método de pagamento na solicitação de seu Serviço. Se for verificado que o método de pagamento indicado na Conta expirou, é inválido ou não pode ser cobrado, você concorda que a Rebox poderá, na qualidade de agente limitado de cobrança do Prestador Terceiro, usar um método secundário de cobrança na Conta, se houver.
    Na relação entre você e a Rebox, a Rebox reserva-se o direito de estabelecer, remover e/ou revisar o Preço relativo a todos os serviços ou bens obtidos por meio do uso dos Serviços a qualquer momento, a critério exclusivo da Rebox. Ademais, você reconhece e concorda que o Preço aplicável em certas áreas geográficas poderã (i) incluir cobranças, tarifas, taxas, impostos e/ou contribuições governamentais devidas em seu nome, inclusive, tarifas de pedágios ou cobranças de aeroportos, conforme a rota tomada pelo Prestador Terceiro, o local de origem e/ou destino da viagem ou, e legislação aplicável e, (ii) aumentar substancialmente quando a oferta de serviços por parte dos Prestadores Terceiros for menor do que a demanda por referidos serviços. O pagamento de taxas, impostos e/ou contribuições governamentais, serão de sua responsabilidade e você reembolsará o Prestador Terceiro e/ou a Rebox por todas tarifas, taxas, impostos e/ou contribuições governamentais pagas em seu nome. Você será responsável pelo pagamento dos Preços lançados em sua Conta independentemente de estar ciente desses Preços ou de seus valores. A Rebox poderá, a qualquer momento, fornecer a certos(as) usuários(as) ofertas e descontos promocionais que poderão resultar em valores diferentes cobrados por Serviços iguais ou similares a outros obtidos por meio do uso dos Serviços, e você concorda que essas ofertas e descontos promocionais, a menos que também oferecidos a você, não terão influência sobre os Preços aplicados. Você poderá optar por cancelar sua solicitação de serviços ou bens de um Prestador Terceiro antes da chegada desse Prestador Terceiro, caso em que poderá incidir uma taxa de cancelamento.
    Esta estrutura de pagamento se destina a remunerar integralmente os Prestadores Terceiros pelos serviços ou bens disponibilizados. A Rebox não indica nenhuma parcela do pagamento como gorjeta ou gratificação aos Prestadores Terceiros. Qualquer declaração da Rebox (no website da Rebox, no Aplicativo ou nos materiais de marketing da Rebox) de que as gorjetas são “voluntárias”, “não obrigatórias” e/ou “não incluídas” no pagamento que você faz pelos serviços ou bens prestados não pretende sugerir que a Rebox oferece valores adicionais àqueles descritos acima aos Prestadores Terceiros. Você compreende e concorda que, embora você seja livre para fazer pagamentos adicionais como gorjeta a quaisquer Prestadores Terceiros que forneça serviços ou bens por meio dos Serviços, você não tem obrigação de fazê-lo. Gorjetas são de caráter voluntário. Após ter recebido os serviços ou bens obtidos por meio dos Serviços, você terá a oportunidade de avaliar sua experiência e fazer comentários adicionais sobre o Prestador Terceiro.
    
    <b>5. RECUSA DE GARANTIA, LIMITAÇÃO DE RESPONSABILIDADE E INDENIZAÇÃO.</b>
    <b>5.1. RECUSA DE GARANTIA.</b>
    OS SERVIÇOS SÃO PRESTADOS “NO ESTADO” E “COMO DISPONÍVEIS”. A REBOX RECUSA TODAS AS DECLARAÇÕES E GARANTIAS, EXPRESSAS, IMPLÍCITAS OU LEGAIS, NÃO EXPRESSAMENTE CONTIDAS NESTES TERMOS, INCLUSIVE AS GARANTIAS IMPLÍCITAS DE COMERCIALIZAÇÃO, ADEQUAÇÃO A UMA FINALIDADE ESPECÍFICA E NÃO INFRINGÊNCIA. ADEMAIS, A REBOX NÃO FAZ NENHUMA DECLARAÇÃO NEM DÁ GARANTIA SOBRE A CONFIABILIDADE, PONTUALIDADE, QUALIDADE, ADEQUAÇÃO OU DISPONIBILIDADE DOS SERVIÇOS OU DE QUAISQUER SERVIÇOS OU BENS SOLICITADOS POR MEIO DO USO DOS SERVIÇOS, NEM QUE OS SERVIÇOS SERÃO ININTERRUPTOS OU LIVRES DE ERROS. A REBOX NÃO GARANTE A QUALIDADE, ADEQUAÇÃO, SEGURANÇA OU HABILIDADE DE PRESTADORES TERCEIROS. VOCÊ CONCORDA QUE TODO O RISCO DECORRENTE DO USO DOS SERVIÇOS E DE QUALQUER SERVIÇO OU BEM SOLICITADO POR MEIO DA TECNOLOGIA SERÁ SEMPRE SEU NA MÁXIMA MEDIDA PERMITIDA PELA LEI APLICÁVEL.
    <b>5.2. LIMITAÇÃO DE RESPONSABILIDADE.</b>
    A REBOX NÃO SERÁ RESPONSÁVEL POR DANOS INDIRETOS, INCIDENTAIS, ESPECIAIS, PUNITIVOS OU EMERGENTES, INCLUSIVE LUCROS CESSANTES, PERDA DE DADOS, DANOS MORAIS OU PATRIMONIAIS RELACIONADOS, ASSOCIADOS OU DECORRENTES DE QUALQUER USO DOS SERVIÇOS AINDA QUE A REBOX TENHA SIDO ALERTADA PARA A POSSIBILIDADE DESSES DANOS. A REBOX NÃO SERÁ RESPONSÁVEL POR NENHUM DANO, OBRIGAÇÃO OU PREJUÍZO DECORRENTE DO: (i) SEU USO DOS SERVIÇOS OU SUA INCAPACIDADE DE ACESSAR OU USAR OS SERVIÇOS; OU (ii) QUALQUER OPERAÇÃO OU RELACIONAMENTO ENTRE VOCÊ E QUALQUER PRESTADOR TERCEIRO, AINDA QUE A REBOX TENHA SIDO ALERTADA PARA A POSSIBILIDADE DESSES DANOS. A REBOX NÃO SERÁ RESPONSÁVEL POR ATRASOS OU FALHAS DECORRENTES DE CAUSAS FORA DO CONTROLE RAZOÁVEL DA REBOX E, TAMPOUCO, PELA QUALIDADE E INTEGRIDADE DOS BENS DISPONIBILIZADOS POR PRESTADORES TERCEIROS. 
    VOCÊ CONCORDA QUE QUALQUER PAGAMENTO FEITO A VOCÊ COM BASE NO SEGURO CONTRA ACIDENTES PESSOAIS DE PASSAGEIROS (APP) MANTIDO PELA REBOX OU PELO PRESTADOR TERCEIRO REDUZIRÁ QUALQUER INDENIZAÇÃO DEVIDA A VOCÊ DECORRENTE DAQUELE MESMO ACIDENTE.
    OS SERVIÇOS DA REBOX PODERÃO SER USADOS POR VOCÊ PARA SOLICITAR E PROGRAMAR SERVIÇOS DE ASSISTÊNCIA 24 HORAS (PARA PROBLEMAS AUTOMOTIVOS DE ACORDO COM OS PLANOS OFERECIDOS, INCLUINDO TROCA DE PNEU, AUXÍLIO POR FALTA DE COMBUSTÍVEL, CARGA NA BATERIA, GUINCHO, REBOQUE, REMOÇÃO OU SERVIÇOS DE ASSISTÊNCIA DIVERSOS OFERECIDOS NOS PLANOS), SERVIÇOS MECÂNICOS OU USO DE REDE CREDENCIADA DE DESCONTOS, TODOS POR PRESTADORES/FORNECEDORES TERCEIRIZADOS, MAS VOCÊ CONCORDA QUE A REBOX NÃO TEM RESPONSABILIDADE EM RELAÇÃO A VOCÊ, POR CONTA DE QUALQUER UM DESTES SERVIÇOS REALIZADOS POR PRESTADORES/FORNECEDORES TERCEIRIZADOS, SALVO SE EXPRESSAMENTE ESTABELECIDA NESTES TERMOS. COMO CONSEQUÊNCIA, A REBOX NÃO TEM QUALQUER RESPONSABILIDADE POR ROTAS ADOTADAS POR PRESTADORES TERCEIROS OU POR QUAISQUER ITENS PERDIDOS NOS VEÍCULOS DE PRESTADORES TERCEIRIZADOS, TAMPOUCO POR DANOS PESSOAIS, MATERIAIS E PATRIMONIAIS A VOCÊ OU A QUAISQUER PESSOAS, SENDO APENAS UM SERVIÇO DE LOCALIZAÇÃO, INTERMEDIAÇÃO E INDICAÇÃO.
    AS LIMITAÇÕES E RECUSA DE GARANTIAS CONTIDAS NESTA CLÁUSULA 5.2 NÃO POSSUEM O OBJETIVO DE LIMITAR RESPONSABILIDADES OU ALTERAR DIREITOS DE CONSUMIDOR QUE DE ACORDO COM A LEI APLICÁVEL NÃO PODEM SER LIMITADOS OU ALTERADOS.
    <b>5.3. INDENIZAÇÃO.</b>
    Você concorda em indenizar e manter a Rebox, seus diretores(as), conselheiros(as), empregados(as) e agentes isentos(as) de responsabilidade por todas e quaisquer reclamações, cobranças, prejuízos, responsabilidades e despesas (inclusive honorários advocatícios) decorrentes ou relacionados: (i) ao uso dos Serviços, de serviços ou bens obtidos por meio do uso dos Serviços; (ii) descumprimento ou violação de qualquer disposição destes Termos; (iii) o uso, pela Rebox, do Conteúdo de Usuário(a); ou (iv) violação dos direitos de terceiros, inclusive Prestadores Terceiros.
    
    <b>6. LEGISLAÇÃO APLICÁVEL E JURISDIÇÃO.</b>
    Estes Termos serão regidos e interpretados exclusivamente de acordo com as leis do Brasil. Qualquer reclamação, conflito ou controvérsia que surgir deste contrato ou a ele relacionada, inclusive que diga respeito a sua validade, interpretação ou exequibilidade, será solucionada exclusivamente pelos tribunais do foro de seu domicílio.
    
    <b>7. OUTRAS DISPOSIÇÕES</b>
    <b>7.1. AVISOS.</b>
    A Rebox poderá enviar avisos por meio de notificações gerais nos Serviços, correio eletrônico para seu endereço de e-mail em sua Conta, ou por comunicação escrita enviada ao endereço indicado em sua Conta. Você poderá notificar a Rebox por meio do Aplicativo ou comunicação pelo endereço eletrônico suporte@rebox.com.br
    <b>7.2. DISPOSIÇÕES GERAIS.</b>
    Você não poderá ceder tampouco transferir estes Termos, total ou parcialmente, sem prévia aprovação por escrito da Rebox. Você concede sua aprovação para que a Rebox ceda e transfira estes Termos total ou parcialmente, inclusive: (i) para uma eventual subsidiária, franquias autorizadas, afiliadas, parceiros ou prestadores/fornecedores de serviços terceirizados; (ii) um adquirente das participações acionárias, negócios ou bens da Rebox; ou (iii) para um sucessor em razão de qualquer operação societária. Não existe joint-venture, sociedade, emprego ou relação de representação entre você, a Rebox ou quaisquer Prestadores Terceiros como resultado do contrato entre você e a Rebox ou pelo uso dos Serviços.
    A eventual declaração de nulidade ou anulação de qualquer dos dispositivos contidos nestes Termos não invalidará as demais disposições, permanecendo estas em pleno vigor. Os dispositivos eventualmente declarados nulos deverão ser substituídos por outros que sejam legais, válidos e exequíveis e que, tenham efeito similar à disposição nula ou anulada.
    Os presentes Termos contém todo o acordado pelas partes em relação às matérias nele tratadas, encerrando, substituindo, superando e tornando sem efeito, portanto, rascunhos, correspondências ou comunicações verbais ou escritas anteriores, além de quaisquer acertos anteriores a estes Termos entre você e a Rebox ou qualquer subsidiária, franquia, afiliada, parceira ou prestadora/fornecedora de serviços terceirizados que ofereçam os serviços objeto da atividade dos sistemas e aplicações oferecidos pelos sistemas, aplicações ou sites da Internet da Rebox. 
    Nestes Termos, as palavras “inclusive” e “inclui” significam “incluindo, sem limitação”
</pre>