<main class="p-5">
  <section class="d-flex flex-column justify-content-center align-items-center">
    <h6 class="title">Meus dados</h6>
    <div class="d-flex flex-column justify-content-center shadow bg-white rounded mt-5">
      <div class="d-flex justify-content-center mt-5">
        <label for="uploadImg">
          <img *ngIf="!imgUrlForm" src="assets/images/insert-image.svg" alt="insertImage" class="mt-4" style="cursor: pointer;" class="rounded-circle img">
          <img *ngIf="imgUrlForm"  [src]="imgUrlForm" alt="" class="rounded-circle img">
        </label>
        <input type="file" name="uploadImg" id="uploadImg" (change)="sendImg($event)" hidden>
      </div>

      <div [formGroup]="userForm" class="col-lg-12 mt-5 px-5 pb-5">
        <div class="row">
          <div class="col-lg-6">
            <input type="text" class="form-control user-bg" placeholder="Nome" formControlName="name">
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <input type="text" class="form-control access-bg" placeholder="CPF" mask="000.000.000-00" formControlName="cpf">
            <div *ngIf="userForm.get('cpf').touched && userForm.get('cpf').invalid" class="d-flex flex-column">
              <span class="small text-danger mt-1">CPF inválido.</span>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-lg-6">
            <input type="email" class="form-control email-bg" placeholder="E-mail"formControlName="email">
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <input type="text" class="form-control phone-bg" placeholder="Telefone" mask="(00) 00000-0000" formControlName="cel">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-primary w-50" (click)="onSubmit()">Salvar</button>
      </div>
    </div>
  </section>
</main>
<full-spinner></full-spinner>
