main {
  min-height: calc(100vh - 50px);
  background-image: url('../../../../../assets/images/background.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

section {
  height: 850px;
}

.logo-img {
  width: 280px;
}

.sub-title {
  font-size: 24px;

}

.loginForm .input-login {
  color: #303030;
  border: none;
  border-radius: 4px;

  width: 14.5vw;
  height: 90px;
  padding-left: 49px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 17px 35%;
  outline: none;
}

.email {
  background-image: url("../../../../../assets/images/user.svg");
  border-radius: 10px 10px 0px 0px;
}

.password {
  background-image: url('../../../../../assets/images/password.svg');
  border-radius: 0px 0px 10px 10px;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 5px #00000029;
  border: 0.20000000298023224px solid #9B9B9B;
  border-radius: 2px;
  opacity: 1;
}


.loginForm .form-group {
  border: none;
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 10px;
}

img.position-absolute {
  transform: translateX(-37px);
}

p:nth-child(1) {
  line-height: 1;
}

p:nth-child(2) {
  line-height: 1.4;
}

.b-shadow {
  box-shadow: 0px 0px 20px #00000029;
  border-radius: 10px;
}

div.position-absolute {
  right: 0;
  bottom: 10px
}

#gps-origin-box {
  bottom: -2px;
  box-shadow: 0px 0px 10px 2px #ccc;
}

#gps-destiny-box {
  bottom: 18px;
  box-shadow: 0px 0px 10px 2px #ccc;
}

li.pointer:hover {
  color: #053AC1;
  transition: .5s;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}


element.style {
  display: flex;
}

.modal-text{
  padding: 2000px!important;
}

.forgot-password {
  cursor: pointer;
  color: #053AC1;
}

@media(min-width: 768px) {
  main {
    background-image: url('../../../../../assets/images/background-town.svg'), url('../../../../../assets/images/background-blue.svg');
    background-size: 55%, 100% auto;
    background-position: 52% 80%, bottom;
    background-repeat: no-repeat;
  }


}

@media(min-width: 992px) {
  main {
    background-position: 92% 0%, bottom;
  }

  section {
    width: 35%;
    min-height: unset;
  }

  div.bg-white {
    background: transparent !important;
    box-shadow: none !important;
  }

}

@media(max-width: 1620px) {

}
