<main class="px-3">
  <section class="d-flex flex-column align-items-center justify-content-center mt-5 ml-lg-5 pl-lg-5 pt-lg-5">
    <div class="d-flex flex-column align-items-center justify-content-center mb-3">
      <img src="assets/images/rebox-lg.png" class="logo-img" routerLink="/" style="cursor: pointer;">
      <p *ngIf="!showForgotPassword" class="my-2 sub-title">
        Faça login na sua conta.
      </p>
      <p *ngIf="showForgotPassword" class="my-2 sub-title">
        Esqueci minha senha
      </p>
    </div>

    <form *ngIf="!showForgotPassword" (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="mb-4 loginForm w-100">
      <div class="form-group">

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <input type="email" placeholder="Email" name="email" id="email"
              class="input-login font-500 email-bg w-100 pb-4" formControlName="email">
          </div>
        </div>
        <hr class="mx-2 my-0">

        <div class="row">
          <div class="col-sm-12 col-md-12">
            <input type="password" placeholder="Senha" name="password" id="password"
              class="input-login font-500 password-bg w-100 pb-4" autocomplete="current-password" formControlName="password">
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mb-2">
        <label for="remember" class="">
          <input type="checkbox" name="remember" id="remember" [value]="true" formControlName="remember_password">
          Lembrar senha
        </label>
        <span class="forgot-password" (click)="showForgotPassword = true">Esqueci minha senha</span>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary font-600 py-2 w-75">
          Entrar
        </button>
      </div>
    </form>


    <div *ngIf="showForgotPassword" class="loginForm w-100">
      <app-forgot-password
        [role]="role"
        *ngIf="showForgotPassword">
      </app-forgot-password>

      <div class="d-flex justify-content-center align-items-center px-3 mx-2">
        <button type="submit" class="btn btn-secondary font-600 py-2 w-75" (click)="showForgotPassword = false">
          Voltar
        </button>
      </div>

    </div>

  </section>

</main>


<full-spinner></full-spinner>
