<main class="d-flex">
  <nav class="navbar position-relative">
    <ul *ngIf="showSide" class="navbar-nav position-fixed">
      <li class="p-4 mb-3 d-flex justify-content-center" (click)="menuToggle()">
        <img src="assets/images/material-menu.svg" class="menu-side">
      </li>

      <li routerLink="requests" routerLinkActive="li-active" #requests="routerLinkActive"
        class="py-3 d-flex justify-content-center">
        <img *ngIf="!requests.isActive" src="assets/images/truck.svg">
        <img *ngIf="requests.isActive" src="assets/images/truck-active.svg">
      </li>

    </ul>
    <div id="mySidenav" class="sidenav">
      <a class="closebtn" (click)="closeNav()" style="cursor: pointer;">&times;</a>
      <li routerLink="requests" routerLinkActive="li-active" #requests="routerLinkActive"
        class="mt-4 p-3 d-flex justify-content-start">
        <img *ngIf="!requests.isActive" src="assets/images/truck.svg">
        <img *ngIf="requests.isActive" src="assets/images/truck-active.svg">
        <span class="mx-4 mt-2">Solicitações</span>
      </li>

    </div>
  </nav>

  <section id="section">
    <header class="d-flex justify-content-between align-items-center w-100 px-3 px-md-5 py-3 mb-4">
      <div class="d-block d-md-none d-lg-none">
        <img src="assets/images/menu.svg" class="menu" (click)="menuToggle()" style="cursor: pointer;">
      </div>
      <div class="logo mt-1" routerLink="/employee">
        <img src="assets/images/rebox.png">
      </div>
      <div id="dropdownLogout" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img *ngIf="!imgUrl" class="img-perfil img-borda ml-2" src="assets/images/user.svg" alt="" />
        <img *ngIf="imgUrl" class="img-perfil img-borda ml-2" [src]="imgUrl" alt="" />
        <img src="assets/images/arrow-down.svg" class="ml-3">
      </div>
      <div class="dropdown-menu" aria-labelledby="dropdownLogout">
        <a routerLink="my-profile" class="dropdown-item">Meus dados</a>
        <a class="dropdown-item" (click)="logout()">Sair</a>
      </div>
    </header>

    <section class="px-3 px-md-5">
      <router-outlet></router-outlet>
    </section>
  </section>
</main>
