<app-header></app-header>
<app-page-back source="Resumo do pedido"></app-page-back>
<main class="d-flex justify-content-center px-3 pb-lg-4">
  <section>
    <div class="text-center mb-3">
      <h2 class="font-size21px font-700">
        Pagamento
      </h2>
    </div>

    <div class="d-flex flex-column align-items-center btn-primary py-4 mb-4 radius10">
      <h5 class="font-700">Total a pagar:</h5>
      <h3 class="font-600">
        R$
        <span class="font-size44px">
          {{reboxService?.amount.toFixed(2).replace('.', ',')}}
        </span>
      </h3>
    </div>

    <div *ngIf="!isTowByPlan" class="text-center px-3">
      <p *ngIf="!payment_method">
        Escolha a forma de pagamento
      </p>
      <p *ngIf="payment_method">
        Preencha as informações necessárias para finalizar sua compra.
      </p>
    </div>

    <div class="d-flex flex-column align-items-center" *ngIf="!payment_method && !isTowByPlan">
      <div class="font-500 radius10 w-100 py-4 px-4 mb-3 b-shadow pointer" (click)="payment_method = 'credito'">
        <span class="mr-3">
          <img src="assets/images/credit-card.svg" alt="Credit card">
        </span>
        Cartão de crédito
      </div>
      <div class="font-500 radius10 w-100 py-4 px-4 mb-3 b-shadow pointer" (click)="payment_method = 'debito'">
        <span class="mr-3">
          <img src="assets/images/credit-card.svg" alt="Credit card">
        </span>
        Cartão de débito
      </div>
      <div class="font-500 radius10 w-100 py-4 px-4 mb-3 b-shadow pointer" (click)="payment_method = 'boleto'">
        <span class="mr-3">
          <img src="assets/images/credit-card.svg" alt="Credit Card">
        </span>
        Boleto Bancário
      </div>
      <div class="font-500 radius10 w-100 py-4 px-4 b-shadow pointer" (click)="payment_method = 'presencial'">
        <span class="mr-3">
          <img src="assets/images/credit-card.svg" alt="Credit card">
        </span>
        Pagamento presencial
      </div>
    </div>

    <div *ngIf="isTowByPlan && reboxService.amount === 0" class="d-flex flex-column align-items-center">
      <span class="font-size18px font-weight-bold">Seu reboque será gratuito, deseja continuar ?</span>
      <button class="btn btn-primary mt-4 w-75" (click)="onSubmitByPlanFree()">Continuar</button>
    </div>

    <form *ngIf="payment_method && payment_method !== 'presencial'" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div>
          <input type="text" class="form-control pl-2 border-0 py-4 mt-3 b-shadow" name="cpf" placeholder="CPF"
            mask="000.000.000-00" formControlName="cpf">
          <span class="font-size12px ml-1">
            *O CPF informado deve ser o do titular do cartão.
          </span>
        </div>
      </div>

      <div class="form-group">
        <div>
          <input type="text" class="form-control pl-2 border-0 py-4 mt-3 b-shadow" name="name"
            placeholder="Nome do titular" formControlName="cred_name">
          <span class="font-size12px ml-1">
            *O nome informado deve ser como está no cartão.
          </span>
        </div>
      </div>

      <div class="form-group">
        <input type="text" class="form-control pl-2 border-0 py-4 my-3 b-shadow" name="cred_number"
          placeholder="Número do cartão" mask="0000 0000 0000 0000" formControlName="cred_number">
      </div>

      <div class="form-group d-lg-flex">
        <div class="w-100 mr-md-4">
          <input type="tel" class="form-control pl-2 border-0 py-4 mt-3 b-shadow mr-lg-4" name="validity"
            placeholder="Validade (mm/yyyy)" mask="00/0000" formControlName="validity">
          <span class="font-size12px ml-1">
            *mm/yyyy
          </span>
        </div>
        <input type="text" class="form-control pl-2 border-0 py-4 my-3 b-shadow" name="cvv" placeholder="CVV"
          mask="0009" formControlName="cred_verification">

      </div>

      <div class="d-flex flex-column align-items-center">
        <button type="submit" class="btn btn-primary w-75 py-2 my-3 font-600">
          Continuar
        </button>

        <button class="btn d-flex align-items-center position-relative w-75 b-font-600 b-shadow py-2 my-3"
          (click)="payment_method = null">
          <span>
            <img src="assets/images/back.svg" style="width: 15px; height: auto;">
          </span>
          <p class="position-absolute w-100 text-center">
            Voltar
          </p>

        </button>
        <p class="text-center">
          Li e concordo com os
          <a class="terms" data-toggle="modal" data-target="#termsAndConditionsModal">Termos de Uso</a>
          e
          <a class="terms" data-toggle="modal" data-target="#privacyPolicyModal">Política de Privacidade.</a>
        </p>
      </div>
      <p class="text-muted text-center" style="font-size: 10px">* valor baseado em {{reboxService?.distance}}km </p>
    </form>

    <form *ngIf="payment_method === 'presencial'" [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      <div class="form-group d-flex flex-column justify-content-center align-items-center">
        <h4 class="text-center">Escolha a forma de pagamento presencial</h4>
        <div class="d-flex flex-column" (change)="changeValue()">
          <label class="label-container mr-3">
            <input type="radio" id="is_credit_card" name="payment_method" value="is_credit_card">
            <span class="span-checkmark"></span>
            Cartão de crédito
          </label>
          <label class="label-container mr-3">
            <input type="radio" id="is_debit_card" name="payment_method" value="is_debit_card">
            Cartão de débito
            <span class="span-checkmark"></span>
          </label>
          <label class="label-container">
            <input type="radio" id="is_cash" name="payment_method" value="is_cash">
            Dinheiro
            <span class="span-checkmark"></span>
          </label>
        </div>
        <div class="d-flex flex-column align-items-center">
          <button type="submit" class="btn btn-primary w-75 py-2 my-3 font-600">
            Continuar
          </button>
          <p class="text-center">
            Li e concordo com os
            <a class="terms" data-toggle="modal" data-target="#termsAndConditionsModal">Termos de Uso</a>
            e
            <a class="terms" data-toggle="modal" data-target="#privacyPolicyModal">Política de Privacidade.</a>
          </p>
        </div>
      </div>
    </form>
  </section>
</main>


<full-spinner></full-spinner>

<div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 735px">
    <div class="modal-content py-4">
      <div class="d-flex justify-content-end mr-4 mb-n2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-privacy-policy></app-privacy-policy>
      </div>
    </div>
  </div>
</div>

<!--TERMS AND CONDITIONS MODAL-->
<div class="modal fade" id="termsAndConditionsModal" tabindex="-1" role="dialog"
  aria-labelledby="termsAndConditionsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="max-width: 735px">
    <div class="modal-content py-4">
      <div class="d-flex justify-content-end mr-4 mb-n2">
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-terms-and-conditions></app-terms-and-conditions>
      </div>
    </div>
  </div>
</div>
