main {
  max-width: 100vw;
}

nav {
  width: 0px;
  padding: 0px;
}

nav ul {
  height: 100vh;
  width: 90px;
  background: #07359B;
  z-index: 1;
  top: -100vh;
  left: 0;
  transition: .3s;
}

nav ul:hover {
  width: 94px;
}

nav ul:hover img {
  width: 51.58px;
  height: 34.5px;
}

nav li {
  transition: .25s;
  outline: none;
  color: #fff;
}


nav li img {
  width: 42px;
  height: 36px;
  transition: .3s;
}

nav li:hover {
  cursor: pointer;
  background: #6d99f8;
}

.menu-side {
  width: 24.26px !important;
  height: 16.17px !important;
}

.li-active {
  background: #FFF;

}

.li-active span {
  color: #07359B;
}

#section {
  width: 100vw;
}

header {
  box-shadow: 0 4px 10px -8px gray;
}

.logo {
  outline: none;
}

.logo {
  width: 100px;
  height: 34px;
  height: auto;
  cursor: pointer;
  vertical-align: middle;
}

#dropdownLogout {
  font-size: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* #dropdownLogout img {
  max-width: 2.75vw;
  min-width: 30px;
} */

#dropdownLogout::after {
  content: "";

  background-size: 35%;
  background-position: 50%;
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.dropdown-menu {
  width: 15vw;
  min-width: 140px;
  max-width: 160px;
  border: 1px solid #70707029;
  left: 5px !important;
}

.dropdown-item:hover {
  background-color: transparent;
  cursor: pointer;
}

#container {
  max-width: 1009px;
}

.img-perfil {
  border-radius: 100%;
  object-fit: cover;
  width: 50px;
  height: 50px;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #07359B;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  color: #FFF;
  text-decoration: none;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  font-size: 36px;
  margin-left: 15px;
}

.menu {
  width: 35px;
  height: 35px;
}


#main {
  transition: margin-left .5s;
  padding: 20px;
}

@media(max-width: 768.9px) {
  .logo img {
    width: 120px;
    height: 30px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media (min-width: 768px) {
  nav {
    width: 86px;
    padding: unset;
  }

  nav ul {
    top: 0;
    left: 0;
  }

  #section {
    width: calc(100vw - 86px);
  }
}
