main {
  height: 100%;
  width: 100%;
}
section {
    max-width: 600px;
    width: 100%;
}

.form-control {
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 15px 45%;
    border-radius: 10px;
    border: none;
    outline: none;
    box-shadow: 0px 3px 8px #00000029;
    padding-left: 42px;
}

.form-group:nth-child(1) .form-control {
    background-image: url("../../../../../assets/images/user-bg.svg");
}

.form-group:nth-child(2) .form-control {
    background-image: url("../../../../../assets/images/password.svg");
}

div.position-absolute {
    left: 0;
    right: 0;
}
