<main class="">
    <section>
        <app-image-header
            [showBackButton]="showBackButton"
            (showSigninEmit)="showSigninComponent()"
        >
        </app-image-header>

        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                {{showForgotPassword ? 'Esqueci minha senha' : 'Acesse sua conta'}}
            </h2>
        </div>

        <app-signin-form
            role="company"
            (showForgotPassword)="showForgotPasswordComponent()"
            *ngIf="!showForgotPassword">
        </app-signin-form>

        <app-forgot-password
            role="company"
            *ngIf="showForgotPassword">
        </app-forgot-password>

        <div class="position-relative">
            <div class="d-flex flex-column align-items-center position-absolute pt-5 mt-5">
                <p>Termos e condições</p>
                <p>Política e privacidade</p>
            </div>
        </div>

    </section>
</main>
