<app-header></app-header>
<app-page-back source="Informações"></app-page-back>
<main class="d-flex align-items-center flex-column justify-content-center px-3 pb-lg-4">
  <section class="col-sm-12 col-lg-12 d-flex flex-column h-100">
    <div class="d-flex flex-column">

      <span *ngIf="requestResume.client">
        <strong>Solicitante:</strong>
        {{ requestResume.client?.name }}
      </span>
      <span *ngIf="requestInfo">
        <strong>Solicitante:</strong>
        {{ requestInfo?.vehicle.user.name }}
      </span>

      <span *ngIf="requestResume.client">
        <strong>Telefone:</strong>
        {{ requestResume.client?.cel | mask: '(00) 0 0000-0000' }}
      </span>
      <span *ngIf="requestInfo">
        <strong>Telefone:</strong>
        {{ requestInfo?.vehicle.user.cel | mask: '(00) 0 0000-0000' }}
      </span>

      <hr class="mx-1">

      <span *ngIf="requestResume.client">
        <strong>Modelo:</strong>
        {{ requestResume.client?.vehicle.model}}
      </span>
      <span *ngIf="requestInfo">
        <strong>Modelo:</strong>
        {{ requestInfo?.vehicle.model }}
      </span>

      <span *ngIf="requestResume.client">
        <strong>Marca:</strong>
        {{ requestResume.client?.vehicle.brand }}
      </span>
      <span *ngIf="requestInfo">
        <strong>Marca:</strong>
        {{ requestInfo?.vehicle.brand }}
      </span>

      <span *ngIf="requestResume.client">
        <strong>Placa:</strong>
        {{ requestResume.client?.vehicle.board }}
      </span>
      <span *ngIf="requestInfo">
        <strong>Placa:</strong>
        {{ requestInfo?.vehicle.board }}
      </span>

      <hr class="mx-1">

      <span *ngIf="requestResume.additionalInfo">
        <strong>Problema no veículo:</strong>
        {{ requestResume.additionalInfo?.diagnosticDescription}}
      </span>
      <span *ngIf="requestInfo">
        <strong>Problema no veículo:</strong>
        {{ diagnostic }}
      </span>


      <span *ngIf="requestResume.additionalInfo">
        <strong>Local da remoção:</strong>
        {{ requestResume.additionalInfo?.locationDescription}}
      </span>
      <span *ngIf="requestInfo">
        <strong>Problema no veículo:</strong>
        {{ location }}
      </span>

      <span *ngIf="requestResume.additionalInfo">
        <strong>Descrição:</strong>
        {{ requestResume.additionalInfo?.comments}}
      </span>
      <span *ngIf="requestInfo">
        <strong>Descrição:</strong>
        {{ requestInfo.comments }}
      </span>

      <div class="border my-3">
        <p class="font-600 p-3 pb-2 mb-0">
          <span>
            <img src="assets/images/location.svg">
          </span> Origem:
        </p>
        <p *ngIf="requestResume.location" class="px-3">
          {{requestResume.location?.addressOrigin}}
        </p>

        <p *ngIf="requestInfo" class="px-3">
          {{ requestInfo.from }}
        </p>

        <hr class="mx-3">

        <p class="font-600 px-3 pb-2 mb-0">
          <span>
            <img src="assets/images/compass.svg">
          </span> Destino:
        </p>
        <p *ngIf="requestResume.location" class="px-3">
          {{requestResume.location?.addressDestiny}}
        </p>
        <p *ngIf="requestInfo" class="px-3">
          {{ requestInfo.to }}
        </p>

      </div>
    </div>
    <div class="col-sm-12 d-flex flex-sm-column  flex-lg-row align-items-center justify-content-end">
      <button type="button" class="col-sm-12 col-md-12 col-lg-6 btn btn-secondary font-600 py-2 "
        (click)="back()">Voltar</button>
      <button type="button"
        class="col-sm-12 col-md-12 col-lg-6 btn btn-primary font-600 py-2 ml-sm-0 ml-lg-2 mt-sm-2 mt-lg-0"
        (click)="onSubmit()">Continuar</button>
    </div>
  </section>
</main>
<full-spinner></full-spinner>
