<section class="pb-4">
  <div class="d-flex flex-column flex-md-row justify-content-between align-items-md-center py-3">
      <h2 class="font-600 pb-2 pb-md-0">Clientes</h2>
      <input type="search" placeholder="Buscar por nome, tipo ou data" (keyup)="findCustomer($event.target.value)">
  </div>

  <div class="py-3">
      <table class="table table-responsive">
          <tr class="text-nowrap text-center">
              <th>Nome</th>
              <th>CPF</th>
              <th>E-mail</th>
              <th>Telefone</th>

              <th class="d-none d-md-block"></th>
          </tr>
          <tr *ngFor="let customer of customers?.data | paginate: { itemsPerPage: customers?.perPage, currentPage: page, totalItems: customers?.total}" class="text-nowrap text-center" (click)="goToCustomer(customer?.id)">
              <td>{{ customer?.name }}</td>
              <td *ngIf="customer?.cpf">{{ customer?.cpf | mask: '000.000.000-00' }}</td>
              <td *ngIf="!customer?.cpf">Não informado</td>
              <td>{{ customer?.email }}</td>
              <td>{{ customer?.cel | mask: '(00) 0 0000-0000' }}</td>

              <td class="position-absolute d-none d-md-block">
                <img src="assets/images/arrow-down.svg" class="arrow-right">
              </td>
          </tr>
          <tr>
              <td *ngIf="customers?.total === '0' && !isLoading" colspan="5">
                  Nenhum cliente encontrado
              </td>
          </tr>
          <tr *ngIf="isLoading">
              <td class="position-relative" colspan="6" style="height: 60px">
                  <full-spinner></full-spinner>
              </td>
          </tr>
      </table>
  </div>

  <div class="d-flex flex-column flex-md-row justify-content-end align-items-md-center">
      <div>
          <pagination-controls
              class="my-pagination"
              (pageChange)="changePage($event)"
              previousLabel="Anterior"
              nextLabel="Próxima">
          </pagination-controls>
      </div>

  </div>
</section>
