<section class="position-absolute d-flex float-right closed-menu text-nowrap vw-100 vh-100" id="side-menu">
    <div class="m-backdrop">

    </div>
    <nav>
        <ul class="navbar-nav h-100 bg-white">
            <div class="p-4">
                <img src="assets/images/close.svg"
                     class="float-right"
                     (click)="toggleMenu()"
                     style="cursor: pointer;"
                >
            </div>
            <li class="nav-item d-flex align-items-center border-bottom mx-4 pb-3">
                <span class="pr-2">
                    <img [src]="userImage">
                </span>
                <span class="font-700 font-size18px font-primary" (click)="signIn()">
                    {{name ? name : 'Entrar'}}
                </span>
            </li>
            <div *ngIf="!isLoggedIn">
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/companies/signin')">
                    Para prestadores
                </li>
                <!-- <li class="nav-item font-500 py-3 mx-4">
                    Conheça nossos planos
                </li> -->
                <li class="nav-item font-500 py-3 mx-4" data-toggle="modal" data-target="#privacyPolicyModal">
                    Política de privacidade
                </li>
                <li class="nav-item font-500 py-3 mx-4" data-toggle="modal" data-target="#termsAndConditionsModal">
                    Termos e condições
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/contact-us')">
                    Fale conosco
                </li>
            </div>

            <div *ngIf="isLoggedIn && role === 'partner'">
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/companies/my-profile')">
                    Meus dados
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/companies/requests')">
                    Solicitações
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/companies/reports')">
                    Relatórios
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="logout('companies')">
                    Sair
                </li>
            </div>

            <div *ngIf="isLoggedIn && role === 'user'">
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/user/my-profile')">
                    Meus dados
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/user/my-plan')">
                    Meu Plano
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/user/request-service')">
                    Solicitar novo serviço
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/user/requests-history')">
                    Histórico de solicitações
                </li>
                <li class="nav-item font-500 py-3 mx-4" (click)="logout('')">
                    Sair
                </li>
            </div>
            <div *ngIf="isLoggedIn && role === 'admin'">
              <li class="nav-item font-500 py-3 mx-4" (click)="navigate('/admin')">
                Painel de admin
            </li>
            <li class="nav-item font-500 py-3 mx-4" (click)="logout('')">
              Sair
            </li>
            </div>
        </ul>
    </nav>
</section>

<!--PRIVACY POLICY MODAL-->
<div class="modal fade" id="privacyPolicyModal" tabindex="-1" role="dialog" aria-labelledby="privacyPolicyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 735px">
        <div class="modal-content py-4">
            <div class="modal-body">
                <app-privacy-policy></app-privacy-policy>
            </div>
        </div>
    </div>
</div>

<!--TERMS AND CONDITIONS MODAL-->
<div class="modal fade" id="termsAndConditionsModal" tabindex="-1" role="dialog" aria-labelledby="termsAndConditionsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 735px">
        <div class="modal-content py-4">
            <div class="modal-body">
                <app-terms-and-conditions></app-terms-and-conditions>
            </div>
        </div>
    </div>
</div>
