<app-header></app-header>
<app-page-back source="Voltar"></app-page-back>
<main class="d-flex justify-content-center px-3 p-lg-5">
  <section class="shadow bg-white p-5">
    <div class="text-center mb-3">
      <h2 class="font-size25px font-700">
        Seus dados
      </h2>
      <p class="font-size18px mb-0">
        Preencha as informações abaixo
      </p>
    </div>

    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" class="form-control user-bg font-500 w-100" placeholder="Nome completo" name="name"
          formControlName="name">
        <div *ngIf="signUpForm.get('name').touched && signUpForm.get('name').invalid">
          <span class="small text-danger font-600">Nome obrigatório.</span>
        </div>
      </div>
      <div class="form-group">
        <input type="text" class="form-control access-bg font-500 w-100" placeholder="CPF" name="cpf"
          formControlName="cpf" mask="000.000.000-00">
        <div *ngIf="signUpForm.get('cpf').touched && signUpForm.get('cpf').invalid">
          <span class="small text-danger font-600">CPF obrigatório.</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6">
          <input type="text" class="form-control email-bg font-500 w-100" placeholder="Email" name="email"
            formControlName="email">
          <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').invalid">
            <span class="small text-danger font-600">Email obrigatório.</span>
          </div>
        </div>
        <div class="col-lg-6 mt-3 mt-lg-0">
          <input type="text" class="form-control phone-bg font-500 w-100" placeholder="Telefone" name="cel"
            formControlName="cel" ngxPhoneMaskBr>
          <div *ngIf="signUpForm.get('cel').touched && signUpForm.get('cel').invalid">
            <span class="small text-danger font-600">Telefone obrigatório.</span>
          </div>
        </div>
      </div>
      <div class="form-group">
        <input type="password" class="form-control password-bg font-500 w-100" placeholder="Senha" name="password"
          formControlName="password">
        <div *ngIf="signUpForm.controls.password.invalid && isSubmited" class="mt-2">
          <p class="text-danger text-center font-600 font-size12px">
            Necessário no mínimo 6 caracteres
          </p>
        </div>
        <div *ngIf="signUpForm.get('password').touched && signUpForm.get('password').invalid">
          <span class="small text-danger font-600">Senha obrigatória.</span>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6">
          <select name="state" id="state" class="form-control location-bg" (change)="onStateChange($event.target.value)">
            <option disable hidden selected>Selecione um estado</option>
            <option *ngFor="let state of states" value="{{ state.sigla }}">{{ state.nome }}</option>
          </select>
          <div *ngIf="signUpForm.get('uf').touched && signUpForm.get('uf').invalid">
            <span class="small text-danger">Estado é obrigatório.</span>
          </div>
        </div>
        <div class="col-lg-6">
          <select name="" id="" class="form-control location-bg" (change)="onCityChange($event.target.value)">
            <option disable hidden selected>Selecione uma cidade</option>
            <option *ngFor="let city of cities" value="{{ city.nome }}">{{ city.nome }}</option>
          </select>
          <div *ngIf="signUpForm.get('city').touched && signUpForm.get('city').invalid">
            <span class="small text-danger">Cidade é obrigatória.</span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-6">
          <input type="text" class="form-control location-bg" placeholder="CEP" mask="00000-000" formControlName="address_zip_code">
        </div>
        <div class="col-lg-6">
          <input type="text" class="form-control location-bg" placeholder="Bairro" formControlName="address_neighborhood">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-lg-12">
          <input type="text" class="form-control location-bg" placeholder="Rua" formControlName="address_street">
        </div>
      </div>
      <div class="mt-4">
        <div class="text-center">
          <h2 class="font-size25px font-700">
            Informações do veículo
          </h2>
        </div>
        <div class="row mt-3 form-group" formGroupName="vehicle">
          <div class="col-lg-6">
            <ng-select placeholder="Marca do veículo" [items]="carBrands" [virtualScroll]="true" bindLabel="brand"
              bindValue="brand" class="form-control wheel-bg font-500 w-100" style="height: unset;"
              formControlName="brand" (search)="getCarBrands($event)" (change)="getCarModels($event)">
            </ng-select>
            <div
              *ngIf="signUpForm.get('vehicle').get('brand').touched && signUpForm.get('vehicle').get('brand').invalid">
              <span class="small text-danger font-600">Marca obrigatória.</span>
            </div>
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <ng-select placeholder="Modelo do veículo" [items]="carModels" [virtualScroll]="true" bindLabel="model"
              bindValue="model" class="form-control wheel-bg font-500 w-100" style="height: unset;"
              formControlName="model" (search)="getCarModels($event)" (change)="setPortVehicle($event)">
            </ng-select>
            <div
              *ngIf="signUpForm.get('vehicle').get('model').touched && signUpForm.get('vehicle').get('model').invalid">
              <span class="small text-danger font-600">Modelo obrigatório.</span>
            </div>
          </div>
        </div>
        <div class="row align-items-center mt-4 form-group" formGroupName="vehicle">
          <div class="col-lg-6">
            <input type="text" class="form-control number-bg font-500 w-100" placeholder="Placa do veículo" name="board"
              formControlName="board" (keyup)="vehicle.controls.board.patchValue($event.target.value.toUpperCase())"
              mask="SSS-0A00">
            <div
              *ngIf="signUpForm.get('vehicle').get('board').touched && signUpForm.get('vehicle').get('board').invalid">
              <span class="small text-danger font-600">Placa obrigatória.</span>
            </div>
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <label for="" class="font-weight-bold font-size17px">Veículo blindado?</label>
            <div class="row m-0">
              <label for="yes" class="label-container mr-4" (change)="checkArmored()">
                Sim
                <input type="radio" name="is_armored" id="yes">
                <span class="span-checkmark"></span>
              </label>
              <label for="no" class="label-container" (change)="checkArmored()">
                Não
                <input type="radio" name="is_armored" id="no">
                <span class="span-checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div formGroupName="vehicle" class="row form-group mt-4">
          <div class="col-lg-6">
            <select type="number" min="2000" max="2021" class="form-control calendar-bg" (change)="selectCarYear($event.target.value)">
              <option disable selected hidden>Selecione o ano do carro</option>
              <option *ngFor="let year of carMaxYear" [value]="year">{{ year }}</option>
            </select>
            <div *ngIf="signUpForm.get('vehicle').get('year').touched && signUpForm.get('vehicle').get('year').invalid">
              <span class="small text-danger font-600">Ano obrigatório.</span>
            </div>
          </div>
          <div class="col-lg-6 mt-3 mt-lg-0">
            <input type="text" class="form-control car-bg font-500 w-100" placeholder="Cor do veículo" name="color"
              formControlName="color">
              <div *ngIf="signUpForm.get('vehicle').get('color').touched && signUpForm.get('vehicle').get('color').invalid">
                <span class="small text-danger font-600">Cor do veículo obrigatória.</span>
              </div>
          </div>
        </div>

      </div>

      <div class="d-flex justify-content-center mt-5">
        <button type="submit" class="btn btn-primary py-2 font-600">
          Continuar
        </button>
      </div>
    </form>
  </section>
</main>

<full-spinner></full-spinner>
