<app-header></app-header>

<main class="d-flex justify-content-center px-3 pb-lg-4">
    <section>
        <div class="text-center mb-3">
            <h2 class="font-size21px font-700">
                Escolha seu veículo
            </h2>
        </div>

        <div class="form-group mb-0">
            <select name="car" class="form-control" [(ngModel)]="vehicle">
                <option *ngFor="let car of cars" [ngValue]="car">
                    {{car.brand}} - {{car.model}}
                </option>
            </select>
        </div>

        <div class="mt-2">
            <p class="add-pointer font-500 font-size15px" data-toggle="modal" data-target="#addVehicle">
                Adicionar veículo
            </p>
        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary py-2 font-600" (click)="onSubmit()">
                Continuar
            </button>
        </div>
    </section>
</main>

<!--ADD CAR MODAL-->
<div class="modal fade" id="addVehicle" tabindex="-1" role="dialog" aria-labelledby="addVehicleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width: 735px">
      <div class="modal-content px-5 py-4">
        <div class="modal-body px-5">
            <div class="text-center mb-4">
                <h2 class="font-size21px font-700 font-primary">
                    Adicionar novo veículo
                </h2>
            </div>
    
            <form [formGroup]="newVehicleForm" (ngSubmit)="onNewVehicleSubmit()">
                <div class="form-group">
                    <ng-select 
                        placeholder="Marca do veículo"
                        [items]="carBrands"
                        [virtualScroll]="true"
                        bindLabel="brand"
                        bindValue="brand"
                        class="form-control wheel-bg font-500 w-100"
                        style="height: unset;"
                        formControlName="brand"
                        (search)="getCarBrands($event)"
                        (change)="getCarModels($event)"
                    >
                    </ng-select>
                </div>
                <div class="form-group">
                    <ng-select 
                        placeholder="Modelo do veículo"
                        [items]="carModels"
                        [virtualScroll]="true"
                        bindLabel="model"
                        bindValue="model"
                        class="form-control wheel-bg font-500 w-100"
                        style="height: unset;"
                        formControlName="model"
                        (search)="getCarModels($event)"
                    >
                    </ng-select>
                </div>
                <div class="form-group">
                    <input type="text" 
                        class="form-control number-bg font-500 w-100" 
                        placeholder="Placa do veículo"
                        name="board"
                        formControlName="board"
                        (keyup)="newVehicleForm.controls.board.patchValue($event.target.value.toUpperCase())"
                        mask="SSS-0A00"
                    >
                </div>
                <div class="form-group">
                    <label>Veículo blindado?</label>
                    <div class="d-flex">
                        <label class="label-container mr-3">
                            <input type="radio" name="is_armored" value="1" formControlName="is_armored">
                            <span class="span-checkmark"></span>
                            Sim
                        </label>
                        <label class="label-container">
                            <input type="radio" name="is_armored" value="0" formControlName="is_armored">
                            Não
                            <span class="span-checkmark"></span>
                        </label>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <button type="submit" class="btn btn-primary py-2 font-600 w-75">
                        Continuar
                    </button>
                </div>
            </form>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
        </div>
    </div>
</div>

<full-spinner></full-spinner>